@model KAF.BusinessDataObjects.hr_personalinfoEntity

<style>
    .form-horizontal .form-group {
        margin-right: 10px;
        margin-left: 10px;
    }
</style>

@using (Ajax.BeginForm("", "", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "", LoadingElementId = "divProgressBar" }, new { @id = "frmHr_PersonalInfoNew", @class = "form-horizontal" }))
{
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    HtmlHelper.ClientValidationEnabled = true;
    @Html.AntiForgeryToken()

    <div class="panel panel-primary list-panel" id="list-panel">
        <div class="panel-heading list-panel-heading">
            Personal Information: @KAF.MsgContainer._hr_personalinfo.personalinfoCreate
        </div>

        <div class="panel-body">
            <div class="modal-body">
                <div class="form-horizontal container">
                    <div class="row">
                        @Html.HiddenFor(m => m.hrpersonalinfoid)
                        @Html.HiddenFor(m => m.hrbasicid)
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Basic Details
                        </div>
                        <div class="panel-body">
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Military No (KW)", htmlAttributes: new { @class = "labelNormal  " })
                                        @Html.EditorFor(model => model.militarynokw, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.militarynokw, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.religionid, htmlAttributes: new { @class = "labelNormal   required " })
                                        @{Html.RenderAction("LoadComboBox", "DataCache", new { EntityName = KAF.CustomHelper.HelperClasses.clsDataCache.gen_religionEntity[0].ToString(), selectid = "religionid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preloadedGen_Religion, multiple = false, isReadOnly = false, IsRequired = true, isStatic = false });}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.bloodgroupid, htmlAttributes: new { @class = "labelNormal   required " })
                                        @{Html.RenderAction("LoadComboBox", "DataCache", new { EntityName = KAF.CustomHelper.HelperClasses.clsDataCache.gen_bloodgroupEntity[0].ToString(), selectid = "bloodgroupid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preloadedGen_BloodGroup, multiple = false, isReadOnly = false, IsRequired = true, isStatic = false });}
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.maritalstatusid, htmlAttributes: new { @class = "labelNormal   required " })
                                        @{Html.RenderAction("LoadComboBox", "DataCache", new { EntityName = KAF.CustomHelper.HelperClasses.clsDataCache.gen_maritalstatusEntity[0].ToString(), selectid = "maritalstatusid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preloadedGen_MaritalStatus, multiple = false, isReadOnly = false, IsRequired = true, isStatic = false });}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.genderid, htmlAttributes: new { @class = "labelNormal   required " })
                                        @{Html.RenderAction("LoadComboBox", "DataCache", new { EntityName = KAF.CustomHelper.HelperClasses.clsDataCache.gen_genderEntity[0].ToString(), selectid = "genderid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preloadedGen_Gender, multiple = false, isReadOnly = false, IsRequired = true, isStatic = false });}
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.nationalityid, htmlAttributes: new { @class = "labelNormal   required " })
                                        @{Html.RenderAction("LoadNationalitySearch", "Common", new { area = "", selectid = "nationalityid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preGen_Nationality, multiple = false, isReadOnly = false, IsRequired = true });}
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Kuwait Address
                        </div>
                        <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-6">
                                        @{Html.RenderAction("LoadGovCityCascadeSearch", "Common", new
                                            {
                                                selectidForGov = "kwgovid",
                                                minimumInputLengthForGov = 0,
                                                preloadedGovData = ViewBag.preloadedGen_GovCity,
                                                multipleForGov = false,
                                                isReadOnlyForGov = false,
                                                isRequiredForGov = true,

                                                selectidForCity = "kwareaid",
                                                minimumInputLengthForCity = 0,
                                                preloadedCityData = ViewBag.preloadedGen_GovArea,
                                                multipleForCity = false,
                                                isReadOnlyForCity = false,
                                                isRequiredForCity = true
                                            });}
                                    </div>
                                </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Block No", htmlAttributes: new { @class = "labelNormal  " })
                                        @Html.EditorFor(model => model.kwblockno, new { htmlAttributes = new { @class = " form-control" } })
                                        @Html.ValidationMessageFor(model => model.kwblockno, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Street No", htmlAttributes: new { @class = "labelNormal  " })
                                        @Html.EditorFor(model => model.kwstreet, new { htmlAttributes = new { @class = " form-control" } })
                                        @Html.ValidationMessageFor(model => model.kwstreet, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("House No", htmlAttributes: new { @class = "labelNormal  " })
                                        @Html.EditorFor(model => model.kwhouseno, new { htmlAttributes = new { @class = " form-control" } })
                                        @Html.ValidationMessageFor(model => model.kwhouseno, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Flat No", htmlAttributes: new { @class = "labelNormal  " })
                                        @Html.EditorFor(model => model.kwflatno, new { htmlAttributes = new { @class = " form-control" } })
                                        @Html.ValidationMessageFor(model => model.kwflatno, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        @Html.Label("Mobile No", htmlAttributes: new { @class = "labelNormal  " })
                                        @Html.EditorFor(model => model.kwmobile, new { htmlAttributes = new { @class = " form-control" } })
                                        @Html.ValidationMessageFor(model => model.kwmobile, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Viber No", htmlAttributes: new { @class = "labelNormal required " })
                                        @Html.EditorFor(model => model.kwviber, new { htmlAttributes = new { @class = " form-control" } })
                                        @Html.ValidationMessageFor(model => model.kwviber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Personal Email", htmlAttributes: new { @class = "labelNormal  " })
                                        @Html.EditorFor(model => model.personalemail, new { htmlAttributes = new { @class = " form-control" } })
                                        @Html.ValidationMessageFor(model => model.personalemail, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Official Email", htmlAttributes: new { @class = "labelNormal  " })
                                        @Html.EditorFor(model => model.officialemail, new { htmlAttributes = new { @class = " form-control" } })
                                        @Html.ValidationMessageFor(model => model.officialemail, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Building Name", htmlAttributes: new { @class = "labelNormal  " })
                                        @{Html.RenderAction("LoadComboBox", "DataCache", new { EntityName = KAF.CustomHelper.HelperClasses.clsDataCache.gen_buildingEntity[0].ToString(), selectid = "buildingid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preloadedGen_Building, multiple = false, isReadOnly = false, IsRequired = false, isStatic = false });}

                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Bangladesh Current Address
                        </div>
                        <div class="panel-body">
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Division", htmlAttributes: new { @class = "labelNormal required " })
                                        @{Html.RenderAction("LoadDivisionSearch", "Common", new { area = "", selectid = "bdcurdivid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preGen_DivisionCurr, multiple = false, isReadOnly = false, IsRequired = true });}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("District", htmlAttributes: new { @class = "labelNormal required " })
                                        @{Html.RenderAction("LoadDistrictSearch", "Common", new { area = "", selectid = "bdcurcityid", divisionid = "bdcurdivid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preGen_DistrictCurr, multiple = false, isReadOnly = false, IsRequired = true });}
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Thana", htmlAttributes: new { @class = "labelNormal required " })
                                        @{Html.RenderAction("LoadThanaSearch", "Common", new { area = "", selectid = "bdcurthanaid", districtid = "bdcurcityid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preGen_Thana, multiple = false, isReadOnly = false, IsRequired = true });}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Post Office", htmlAttributes: new { @class = "labelNormal " })
                                        @Html.EditorFor(model => model.bdcurpostoffice, new { htmlAttributes = new { @class = " form-control" } })
                                        @Html.ValidationMessageFor(model => model.bdcurpostoffice, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Road No", htmlAttributes: new { @class = "labelNormal  " })
                                        @Html.EditorFor(model => model.bdcurroad, new { htmlAttributes = new { @class = " form-control" } })
                                        @Html.ValidationMessageFor(model => model.bdcurroad, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("House No", htmlAttributes: new { @class = "labelNormal " })
                                        @Html.EditorFor(model => model.bdcurhouse, new { htmlAttributes = new { @class = " form-control" } })
                                        @Html.ValidationMessageFor(model => model.bdcurhouse, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Flat No", htmlAttributes: new { @class = "labelNormal " })
                                        @Html.EditorFor(model => model.bdcurflatno, new { htmlAttributes = new { @class = " form-control" } })
                                        @Html.ValidationMessageFor(model => model.bdcurflatno, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Mobile No", htmlAttributes: new { @class = "labelNormal " })
                                        @Html.EditorFor(model => model.bdmob1, new { htmlAttributes = new { @class = " form-control" } })
                                        @Html.ValidationMessageFor(model => model.bdmob1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Alternative Mobile No", htmlAttributes: new { @class = "labelNormal " })
                                        @Html.EditorFor(model => model.bdmob2, new { htmlAttributes = new { @class = " form-control" } })
                                        @Html.ValidationMessageFor(model => model.bdmob2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Home Phone No", htmlAttributes: new { @class = "labelNormal " })
                                        @Html.EditorFor(model => model.bdhomephone, new { htmlAttributes = new { @class = " form-control" } })
                                        @Html.ValidationMessageFor(model => model.bdhomephone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Bangladesh Permanent Address
                        </div>
                        <div class="panel-body">
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Division", htmlAttributes: new { @class = "labelNormal required " })
                                        @{Html.RenderAction("LoadDivisionSearch", "Common", new { area = "", selectid = "bdperdivid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preGen_DivisionPer, multiple = false, isReadOnly = false, IsRequired = true });}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("District", htmlAttributes: new { @class = "labelNormal required " })
                                        @{Html.RenderAction("LoadDistrictSearch", "Common", new { area = "", selectid = "bdpercityid", divisionid = "bdcurdivid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preGen_DistrictPer, multiple = false, isReadOnly = false, IsRequired = true });}
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Thana", htmlAttributes: new { @class = "labelNormal required " })
                                        @{Html.RenderAction("LoadThanaSearch", "Common", new { area = "", selectid = "bdperthanaid", districtid = "bdcurcityid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preGen_Thana, multiple = false, isReadOnly = false, IsRequired = true });}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Post Office", htmlAttributes: new { @class = "labelNormal " })
                                        @Html.EditorFor(model => model.bdperpostoffice, new { htmlAttributes = new { @class = " form-control" } })
                                        @Html.ValidationMessageFor(model => model.bdperpostoffice, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Road No", htmlAttributes: new { @class = "labelNormal " })
                                        @Html.EditorFor(model => model.bdperroad, new { htmlAttributes = new { @class = " form-control" } })
                                        @Html.ValidationMessageFor(model => model.bdperroad, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("House No", htmlAttributes: new { @class = "labelNormal " })
                                        @Html.EditorFor(model => model.bdperhouse, new { htmlAttributes = new { @class = " form-control" } })
                                        @Html.ValidationMessageFor(model => model.bdperhouse, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Flat No", htmlAttributes: new { @class = "labelNormal " })
                                        @Html.EditorFor(model => model.bdperflatno, new { htmlAttributes = new { @class = " form-control" } })
                                        @Html.ValidationMessageFor(model => model.bdperflatno, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.remarks, htmlAttributes: new { @class = "labelNormal  " })
                                        @Html.EditorFor(model => model.remarks, new { htmlAttributes = new { @class = " form-control" } })
                                        @Html.ValidationMessageFor(model => model.remarks, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="btn-toolbar">
                        <button type="submit" id="btnSaveHrPersonalInfo" class="btn btn-primary btn-md btnSaveHrPersonalInfo"><i class="fa fa-save"> </i> @KAF.MsgContainer._Common._btnSave</button>
                        <button type="submit" id="btnModalCloseNew" class="btn btn-danger btn-md cancel"><i class="fa fa-arrow-circle-left"> </i> @KAF.MsgContainer._Common._btnCancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>
    //filecontrol addons

    $(document).ready(function () {

        $('#bdcurdivid').change(function (event) {
            $('#bdcurcityid').val(null).trigger('change');
        });

        $('#bdcurcityid').change(function (event) {
            $('#bdcurthanaid').val(null).trigger('change');
        });

        $('#bdperdivid').change(function (event) {
            $('#bdpercityid').val(null).trigger('change');
        });

        $('#bdpercityid').change(function (event) {
            $('#bdperthanaid').val(null).trigger('change');
        });

    });

    $j('.dateonly').datetimepicker(
        {
            // format: 'L'
            format: 'DD-MM-YYYY'
        });
</script>




