
@model KAF.BusinessDataObjects.rptm_allreportinfoEntity
@{
    ViewBag.Title = "Report Panel";
}
<style>
    .detailheading {
        background-color: darkgray !important;
    }

    .buttonpanelcenter {
        text-align: center;
    }

    .form-horizontal .form-group {
        margin-right: 10px;
        margin-left: 10px;
    }
</style>
@{
    if (System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant().ToLower() == "ar-kw")
    {
        <style>
            .actionbuttonletright {
                text-align: left;
            }
        </style>
    }
    else
    {
        <style>
            .actionbuttonletright {
                text-align: right;
            }
        </style>
    }
}


<script src="~/ckeditor/ckeditor.js"></script>

@using (Ajax.BeginForm("", "", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "", LoadingElementId = "divProgressBar" }, new { @id = "frmRPTMAllReportInfo", @class = "form-horizontal" }))
{
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    HtmlHelper.ClientValidationEnabled = true;

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary list-panel" id="list-panel">
                <div class="panel-heading list-panel-heading">
                    Report Data
                </div>
                <div class="panel-body">



                    <div id="dv_profile" class="row  row-report">

                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("Passport Number", htmlAttributes: new { @class = "labelNormal " })

                                <input type="text" class="form-control" id="txtPassportNumber9" placeholder="Passport Number">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("Military Number(KW)", htmlAttributes: new { @class = "labelNormal " })

                                <input type="text" class="form-control" id="txtMilitaryNumber2" placeholder="Military Number">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.Label("OKP", htmlAttributes: new { @class = "labelNormal " })

                                @{Html.RenderAction("LoadComboBox", "DataCache", new { EntityName = KAF.CustomHelper.HelperClasses.clsDataCache.gen_okpEntity[0].ToString(), selectid = "ddlokp", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preloadedGen_Okp, multiple = false, isReadOnly = false, IsRequired = true, isStatic = true });}


                            </div>
                        </div>
                        <div class="col-md-6">
                            @*1-Selected, 2-Canceled, 3-Active, 4-Repatriated, 5- Arrived*@
                            <div class="form-group">
                                @Html.Label("Status", htmlAttributes: new { @class = "labelNormal " })
                                <div class="row" id="dvchks">
                                    <div class="col-md-2">
                                        <div class="">
                                            <input type="checkbox" value="1" checked="checked" class="form-check-input tablecolumns chkcolumn" />
                                            <label class="form-check-label" for="flexCheckDisabled"> Selected</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="">
                                            <input type="checkbox" value="2" checked="checked" class="form-check-input tablecolumns chkcolumn" />
                                            <label class="form-check-label" for="flexCheckDisabled"> Canceled</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="">
                                            <input type="checkbox" value="5" checked="checked" class="form-check-input tablecolumns chkcolumn" />
                                            <label class="form-check-label" for="flexCheckDisabled"> Arrived</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="">
                                            <input type="checkbox" value="3" checked="checked" class="form-check-input tablecolumns chkcolumn" />
                                            <label class="form-check-label" for="flexCheckDisabled"> Active</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="">
                                            <input type="checkbox" value="4" checked="checked" class="form-check-input tablecolumns chkcolumn" />
                                            <label class="form-check-label" for="flexCheckDisabled"> Repatriated</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="dvbtn" class="row ">
                        <div class="form-group">
                            <div class="col-md-3">
                                <button type="button" id="btnSearch" class="btn btn-raised btn-primary btn-block">Load Report</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row hidden" id="divReport">

    </div>

    <input type="hidden" id="hddokpid" value='@ViewBag.okpid'/>
}



<script>
    function GetDateFromTextBox1(strdate) {
        if (strdate != "" && typeof strdate !== 'undefined') {
            if (strdate.indexOf('T') != -1)
                strdate = strdate.substring(0, strdate.indexOf('T') - 1).trim();

            var dtspl1 = strdate.split("-");
            var retdate = new Date(dtspl1[2], dtspl1[1] - 1, dtspl1[0]);
            retdate = retdate.toISOString();
            //var retdate = $(strdate).val();
            return retdate;
        }
    }

    $(document).ready(function () {

        if ($("#hddokpid").val() != "") {
            $("#ddlokp").val($("#hddokpid").val()).trigger('change');
            $("#ddlokp").prop("disabled", true);
        }

        $('#btnSearch').click(function () {

            var searchText = "";
            var isval = 1;

            searchText += "reporttype=9";
            var strcols = "";
            $.each($("#dvchks .chkcolumn"), function (val, element) {

                if ($(element).prop('checked')) {
                    strcols += $(element).val() + ',';
                }

            });
            searchText += "&statuscol=" + strcols;

            $("#divReport").addClass("hidden");
            if ($("#txtPassportNumber9").val().length == 0 && $("#txtMilitaryNumber2").val().length == 0 && $("#ddlokp").val() == null) {
                inforamtionDialog("Alert", "Please Provide Military Number or Provide Passport Number", _getCookieForLanguage("_btnOK")).then(function (answer) {
                    if (answer == "true") {
                        isval = 0;
                    }

                });
            }
            else {
                $("#divReport").removeClass("hidden");
                if ($("#txtPassportNumber9").val().length > 0)
                    searchText += "&passportno=" + $("#txtPassportNumber9").val();

                if ($("#txtMilitaryNumber2").val().length > 0)
                    searchText += "&militaryno=" + $("#txtMilitaryNumber2").val();

                if ($("#ddlokp").val() != null) {
                    searchText += "&okpid=" + $("#ddlokp").val();
                }

                var src = '../Reports/CustomerReport.aspx?';
                //We can add parameters here
                src = src + searchText

                var iframe = '<iframe id="myReportFrame" width="100%" height="800px" scrolling="no" frameborder="0" src="' + src + '" allowfullscreen></iframe>';
                $("#divReport").html(iframe);
            }
        });

        });

</script>






