<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bangladesh Military Contingent to Kuwait</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicons -->
    <link href="~/LocalDesignsAndScripts/Images/favicon.png" rel="icon">
    <link href="~/LocalDesignsAndScripts/Images/apple-touch-icon.png" rel="apple-touch-icon">
    <script type="text/javascript" src="~/DesignsAndScripts/Scripts/plugins/jquery/jquery.js"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">
    <!-- Bootstrap CSS File -->
    @Styles.Render("~/Content/Localcss")
    <!-- =======================================================
      Theme Name: eBusiness
      Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>
<style>
    .logostyle {
        color: white!important;
        font-weight: bold;
        font-size: 30px;
        margin-top: 8px;
    }
</style>
<body data-spy="scroll" data-target="#navbar-example" >
    <div id="preloader"></div>
    <header >
        <!-- header-area start -->
        <div id="sticker" class="header-area" >
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <!-- Navigation -->
                        <nav class="navbar navbar-default" >
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header pull-right" >
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <!-- Brand -->
                                <a class="navbar-brand page-scroll sticky-logo logostyle" href="index.html">
                                    @*<h1><span>e</span>Business</h1>*@
                                    <!-- Uncomment below if you prefer to use an image logo -->
                                    OKP-10 Automation
                                    @*  <img src="~/LocalDesignsAndScripts/Images/logo02.png" alt="" title="">*@
                                </a>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1 pull-left" id="navbar-example">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="active">
                                        <a class="" id="btnLoginOpen">Login</a>
                                       @* <button type="submit" id="btnlogin" class="btn btn-primary btn-md btnhascaptcha"> @KAF.MsgContainer._Common._btnSignIn <i class="fa fa-sign-in"></i></button>*@

                                    </li>
                                    @*<li>
                                        <a class="page-scroll" href="#about">About</a>
                                    </li>
                                   
                                    <li>
                                        <a class="page-scroll" href="#team">Team</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                                    </li>*@
                                   
                                </ul>
                            </div>
                            <!-- navbar-collapse -->
                        </nav>
                        <!-- END: Navigation -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-area end -->
    </header>
    <!-- header end -->
    @RenderBody()

    <!-- Start Footer bottom Area -->
<footer>
    <div class="footer-area" style="padding:0px!important;">
        <div class="container">
            <!--<div class="row">-->

                <!-- end single footer -->
                <!--<div class="col-md-4 col-sm-4 col-xs-4" style="float:left;">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Gallery-1</h4>
                            <div class="flicker-img">
                                <a href="#"><img style="width:118px;height:69px;" src="~/LocalDesignsAndScripts/Images/portfolio/1.png" alt=""></a>
                                <a href="#"><img style="width:118px;height:69px;" src="~/LocalDesignsAndScripts/Images/portfolio/2.png" alt=""></a>
                                <a href="#"><img style="width:118px;height:69px;" src="~/LocalDesignsAndScripts/Images/portfolio/3.png" alt=""></a>
                                <a href="#"><img style="width:118px;height:69px;" src="~/LocalDesignsAndScripts/Images/portfolio/4.png" alt=""></a>
                                <a href="#"><img style="width:118px;height:69px;" src="~/LocalDesignsAndScripts/Images/portfolio/5.png" alt=""></a>
                                <a href="#"><img style="width:118px;height:69px;" src="~/LocalDesignsAndScripts/Images/portfolio/6.png" alt=""></a>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4" style="float:left;">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Gallery-2</h4>
                            <div class="flicker-img">
                                <a href="#"><img style="width:118px;height:69px;" src="~/LocalDesignsAndScripts/Images/portfolio/1.png" alt=""></a>
                                <a href="#"><img style="width:118px;height:69px;" src="~/LocalDesignsAndScripts/Images/portfolio/2.png" alt=""></a>
                                <a href="#"><img style="width:118px;height:69px;" src="~/LocalDesignsAndScripts/Images/portfolio/3.png" alt=""></a>
                                <a href="#"><img style="width:118px;height:69px;" src="~/LocalDesignsAndScripts/Images/portfolio/4.png" alt=""></a>
                                <a href="#"><img style="width:118px;height:69px;" src="~/LocalDesignsAndScripts/Images/portfolio/5.png" alt=""></a>
                                <a href="#"><img style="width:118px;height:69px;" src="~/LocalDesignsAndScripts/Images/portfolio/6.png" alt=""></a>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4" style="float:left;">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Gallery-3</h4>
                            <div class="flicker-img">
                                <a href="#"><img style="width:118px;height:69px;" src="~/LocalDesignsAndScripts/Images/portfolio/1.png" alt=""></a>
                                <a href="#"><img style="width:118px;height:69px;" src="~/LocalDesignsAndScripts/Images/portfolio/2.png" alt=""></a>
                                <a href="#"><img style="width:118px;height:69px;" src="~/LocalDesignsAndScripts/Images/portfolio/3.png" alt=""></a>
                                <a href="#"><img style="width:118px;height:69px;" src="~/LocalDesignsAndScripts/Images/portfolio/4.png" alt=""></a>
                                <a href="#"><img style="width:118px;height:69px;" src="~/LocalDesignsAndScripts/Images/portfolio/5.png" alt=""></a>
                                <a href="#"><img style="width:118px;height:69px;" src="~/LocalDesignsAndScripts/Images/portfolio/6.png" alt=""></a>


                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    @{ string baseURL = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/') + "/";
        string domain = Request.Url.Authority; }
    @Html.AntiForgeryToken()
    <input type="hidden" id="txtUserSTK" value='@ViewBag.usertoken' class="txtUserSTK" />
    <input type="hidden" value="@baseURL" id="txtBaseUrl" class="txtBaseUrl" />
    <input type="hidden" id="txtuserip" value="@domain" class="txtuserip" />
    @{ var dic = new Dictionary<string, string>();
        foreach (string var in Request.ServerVariables)
        {
            if (!string.IsNullOrEmpty(HttpUtility.UrlEncode(Request[var]).ToString()))
            {
                if (
                (var == "HTTP_USER_AGENT")
                || (var == "HTTP_REFERER")
                || (var == "HTTP_COOKIE")
                    || (var == "SCRIPT_NAME")
                    || (var == "SERVER_NAME")
                    || (var == "SERVER_PORT")
                    || (var == "SERVER_PROTOCOL")
                    || (var == "HTTP_CONNECTION")
                    || (var == "AUTH_USER")
                    || (var == "LOGON_USER")
                || (var == "REQUEST_METHOD")
                || (var == "URL")
                    )
                {
                    dic.Add(var.ToString(), HttpUtility.UrlEncode(Request[var]).ToString());
                }
            }
        }
        var jlist = Newtonsoft.Json.JsonConvert.SerializeObject(dic);
        string js = new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(jlist); }

    <textarea id="txtServerUtil" style="display: none;" hidden="hidden" class="txtServerUtil">@js</textarea>
    <textarea id="txtServerUtilObj" style="display: none;" hidden="hidden" class="txtServerUtilObj"> @jlist</textarea>
    <input type="hidden" id="txtUserSes" value='@Session.SessionID' class="txtUserSes" />
    <input type="hidden" id="txtdomain" value='@System.Configuration.ConfigurationManager.AppSettings["LoginURL"].ToString()' class="txtdomain" />

    <textarea id="txtCommonLanguages" style="display: none;" hidden="hidden" class="txtCommonLanguages">@Session["comlanguage"].ToString()</textarea>

    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright text-center">
                        <p>
                            &copy; Copyright <strong>BMC-TO-KUWAIT</strong>. All Rights Reserved
                        </p>
                    </div>
                    <div class="credits">
                        <!--
                          All the links in the footer should remain intact.
                          You can delete the links only if you purchased the pro version.
                          Licensing information: https://bootstrapmade.com/license/
                          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eBusiness
                        -->
                        Developed by OKP-10
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- JavaScript Libraries -->
    @Scripts.Render("~/bundles/LocalScript")
</body>
</html>
