@model KAF.BusinessDataObjects.gen_divisiondistrictEntity

<style>
        .form-horizontal .form-group {
            margin-right: 10px;
            margin-left: 10px;
        }
    </style>

@using (Ajax.BeginForm("", "", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "", LoadingElementId = "divProgressBar" }, new { @id = "frmGen_DivisionDistrictDetail", @class = "form-horizontal" }))
{
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    HtmlHelper.ClientValidationEnabled = true;
    @Html.AntiForgeryToken()
    
    <div class="panel panel-primary list-panel" id="list-panel">
        <div class="panel-heading list-panel-heading">
            @KAF.MsgContainer._gen_divisiondistrict.divisiondistrictDetails
        </div>
        
        <div class="panel-body">
            <div class="modal-body">
                <div class="form-horizontal container">
                    <div class="row">
                        @Html.HiddenFor(m => m.districtid)
                        @Html.HiddenFor(m => m.strModelPrimaryKey)
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.countryid, htmlAttributes: new { @class = "labelNormal   required " })
                                @{Html.RenderAction("LoadCountrySearch", "Common", new { area = "", selectid = "countryid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preloadedgen_country, multiple = false, isReadOnly = true, IsRequired = true });}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Division", htmlAttributes: new { @class = "labelNormal     " })
                                @{Html.RenderAction("LoadDivisionSearch", "Common", new { area = "", selectid = "parentid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preloadedgen_district, multiple = false, isReadOnly = true, IsRequired = false });}
                            </div>
                        </div>
                    </div>
					 <div class="row ">
						 <div class="col-md-6">
							 <div class="form-group">
								 @Html.LabelFor(model => model.districtname, htmlAttributes: new { @class = "labelNormal required " })
								 @Html.EditorFor(model => model.districtname, new { htmlAttributes = new {   @readonly = "readonly",  @class = " form-control" } })
							</div>
						</div>
						 <div class="col-md-6">
							 <div class="form-group">
							 @Html.LabelFor(model => model.isdivision, htmlAttributes: new { @class = "labelNormal  " })
							 @Html.EditorFor(model => model.isdivision, new { htmlAttributes = new {  @readonly = "readonly",  @class = "form-control" } })
							</div>
						</div>
					</div>
					 <div class="row ">
						 
						 <div class="col-md-6">
							 <div class="form-group">
								 @Html.LabelFor(model => model.remarks, htmlAttributes: new { @class = "labelNormal  " })
								 @Html.EditorFor(model => model.remarks, new { htmlAttributes = new {   @readonly = "readonly",  @class = " form-control" } })
								 @Html.ValidationMessageFor(model => model.remarks, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
                    <div class="btn-toolbar">
                        <button type="submit" id="btnModalCloseDetail" class="btn btn-danger btn-md cancel"><i class="fa fa-arrow-circle-left"> </i> @KAF.MsgContainer._Common._btnCancel</button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
}
<script>
//filecontrol addons




</script>
    



