@model KAF.BusinessDataObjects.hr_visademandinfoEntity

<style>
    .form-horizontal .form-group {
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 0px;
    }

    .form-control {
       height:31px;
    }

    .input-group-addon {
        padding: 3px 12px;
    }

    .panel {
        margin-bottom: 5px;
    }

    .panel-body {
        padding: 7px;
    }
</style>

@using (Ajax.BeginForm("", "", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "", LoadingElementId = "divProgressBar" }, new { @id = "frmHr_VisaDemandInfoNew", @class = "form-horizontal" }))
{
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    HtmlHelper.ClientValidationEnabled = true;
    @Html.AntiForgeryToken()

    <div class="panel panel-primary list-panel" id="list-panel">
        <div class="panel-heading list-panel-heading">
            Visa Demand Information (New Demand): @KAF.MsgContainer._hr_visademandinfo.visademandinfoCreate
            <div class="col-lg-3" style="float:right;text-align:right;">
                <button type="button" id="btnModalCloseNew" class="close btnModalCloseNew" aria-label="Close"
                        style="opacity:1.0;opacity: 1.0; margin-top: -11px; color: white;  margin-right: -20px;  font-size: 39px;">
                    <span aria-hidden="true" class=" btnModalCloseNew">&times;</span>
                </button>
            </div>
        </div>

        <div class="panel-body">
            <div class="modal-body">
                <div class="form-horizontal container">
                    <div class="row">
                        @Html.HiddenFor(m => m.visademandid)
                        @Html.HiddenFor(m => m.demandtype)
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            @{Html.RenderAction("LoadDemandPassportLetterNoByDate", "Common", new { area = "", selectid = "RepPassportID", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preloadedgen_replacement, multiple = false, isReadOnly = false, IsRequired = true });}

                        </div>
                        <div class="col-md-6">
                            <button style="margin-top: 73px;" type="submit" id="btnSearch" class="btn btn-primary btn-md btnSearch"><i class="fa fa-search"> </i> @KAF.MsgContainer._Common._btnSearch</button>
                            <button style="margin-top: 73px;margin-left:10px;" onclick="clearAllform();" type="button" id="btnClear" class="btn btn-primary btn-md btnClear"><i class="fa fa-close"> </i> @KAF.MsgContainer._Common._btnClear</button>

                        </div>
                    </div>

                    <div id="dvInfoDetail" class="hidden">

                        <div class="row " style="margin-top: 10px;">
                            <div class="col-md-6">
                                <input id="chknewassign" type="checkbox" checked="checked" class="chkAssign" name="chkAssign" value="assignnew" style="margin-left: 11px;"> Assign New Letter No
                                <input id="chkupdassign" type="checkbox" name="vehicle1" value="updateexisting" class="chkAssign" style="margin-left:20px;"> Update Existing Letter No

                            </div>

                        </div>


                        <div class="panel panel-primary list-panel hidden" id="dvexistingletterno">
                            <div class="panel-body">
                                <div class="row ">
                                    <div class="col-md-6">
                                        @{Html.RenderAction("LoadVisaDemandLetterNo", "Common", new { area = "", selectid = "existingvisademandid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preloadedgen_replacement, multiple = false, isReadOnly = false, IsRequired = true, IsReplacement = 2 });}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-primary list-panel" id="dvrecinfo">
                            <div class="panel-body">
                                <div class="row ">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.visademanddate, htmlAttributes: new { @class = "labelNormal  required " })
                                            <div class='input-group date dateonly' id='' style="width: 100%; ">
                                                @Html.EditorFor(model => model.visademanddate, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(m => m.visademanddate, "", new { @class = "text-danger " })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.visademandletterdate, htmlAttributes: new { @class = "labelNormal  required " })
                                            <div class='input-group date dateonly' id='' style="width: 100%; ">
                                                @Html.EditorFor(model => model.visademandletterdate, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(m => m.visademandletterdate, "", new { @class = "text-danger " })
                                        </div>
                                    </div>
                                </div>

                                <div class="row ">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.visademandletterno, htmlAttributes: new { @class = "labelNormal required " })
                                            @Html.EditorFor(model => model.visademandletterno, new { htmlAttributes = new { @class = " form-control" } })
                                            @Html.ValidationMessageFor(model => model.visademandletterno, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 hidden">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.remarks, htmlAttributes: new { @class = "labelNormal  " })
                                            @Html.EditorFor(model => model.remarks, new { htmlAttributes = new { @class = " form-control" } })
                                            @Html.ValidationMessageFor(model => model.remarks, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-12">
                                <table id="GenVisaDemandDt" class="table table-striped table-bordered dataTable no-footer dtr-inline" style="width:100%;" role="grid" aria-describedby="GenVisaDemandDt_info">
                                    <thead>
                                        <tr role="row">
                                            <th rowspan="1" colspan="1" style='width:50px'>SL</th>
                                            <th rowspan="1" colspan="1" style='width:460px'>Name/Passport/Appt</th>
                                            <th rowspan="1" colspan="1">Passport Recv Date</th>
                                            <th rowspan="1" colspan="1">Letter Date/Letter No</th>
                                            <th class="hdrletterstat ">Status</th>
                                            <th rowspan="1" colspan="1">
                                                <input type="checkbox" value="Check All" id="chkAll" />
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>

                        <br />
                        <div class="btn-toolbar">
                            <button type="submit" id="btnSaveVisaNewDemand" class="btn btn-primary btn-md btnSaveVisaNewDemand"><i class="fa fa-save"> </i> @KAF.MsgContainer._Common._btnSave</button>
                            <button type="submit" id="btnModalCloseNew" class="btn btn-danger btn-md cancel"><i class="fa fa-arrow-circle-left"> </i> @KAF.MsgContainer._Common._btnCancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
    <script>
        $(document).ready(function () {
            initiateCheckAll();
            $('.dateonly input').attr('placeholder', 'DD-MM-YYYY');
            $j('.dateonly').datetimepicker(
                {
                    // format: 'L'
                    format: 'DD-MM-YYYY'
                });
            AddAntiForgeryToken = function (data) {
                data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
                return data;
            };

            $('#btnSaveVisaNewDemand').click(function (event) {
                try {
                    event.preventDefault();
                    var form = $('#frmHr_VisaDemandInfoNew');
                    jQuery.validator.unobtrusive.parse();
                    jQuery.validator.unobtrusive.parse(form);

                    var myData = [];
                    $("#GenVisaDemandDt .txtdetailinfo").each(function (index) {
                        //console.log(index + ": " + $(this).val() + " " + $(this).attr("hrbasicid"));
                        if (($(this).parent().parent().find(".chkSelect").prop("checked") == true > 0)
                            && (typeof $(this).attr("detailid") == "undefined" || $(this).attr("detailid") == "null")) {
                            var inputdetl = AddAntiForgeryToken({
                                token: $(".txtUserSTK").val(),
                                userinfo: $(".txtServerUtilObj").val(),
                                useripaddress: $(".txtuserip").val(),
                                sessionid: $(".txtUserSes").val(),
                                methodname: "HrFamilyInfoCreate",
                                currenturl: window.location.href,

                                visademanddetlid: $(this).attr("detailid"),
                                visademandid: $("#existingvisademandid").val(),
                                demandtype: 2, //1-replacement,2-new demand
                                hrbasicid: $(this).attr("hrbasicid"),
                                hrsvcid: $(this).attr("hrsvcid"),
                                passportdetlid: $(this).attr("reppassportdetlid"),

                                CurrentState: 1

                            });

                            myData.push(inputdetl);
                        }
                        if (($(this).parent().parent().find(".chkSelect").prop("checked") == false > 0) &&
                            (typeof $(this).attr("detailid") != "undefined" && $(this).attr("detailid") != "null")) {

                            var inputdetl = AddAntiForgeryToken({
                                token: $(".txtUserSTK").val(),
                                userinfo: $(".txtServerUtilObj").val(),
                                useripaddress: $(".txtuserip").val(),
                                sessionid: $(".txtUserSes").val(),
                                methodname: "HrFamilyInfoCreate",
                                currenturl: window.location.href,

                                visademanddetlid: $(this).attr("detailid"),
                                visademandid: $("#existingdisademandid").val(),
                                demandtype: 2, //1-replacement,2-new demand
                                hrbasicid: $(this).attr("hrbasicid"),
                                hrsvcid: $(this).attr("hrsvcid"),
                                passportdetlid: $(this).attr("reppassportdetlid"),

                                CurrentState: 3

                            });

                            myData.push(inputdetl);
                        }
                    });

                    if (form.valid()) {

                        var input = AddAntiForgeryToken({
                            token: $(".txtUserSTK").val(),
                            userinfo: $(".txtServerUtilObj").val(),
                            useripaddress: $(".txtuserip").val(),
                            sessionid: $(".txtUserSes").val(),
                            methodname: "HrFamilyInfoCreate",
                            currenturl: window.location.href,

                            visademandid: $('#existingvisademandid').val(),
                            demandtype: 2, //1-replacement,2-new demand
                            passportinfoid: $('#RepPassportID').val(),
                            visademanddate: GetDateFromTextBox($('#visademanddate').val()),
                            visademandletterdate: GetDateFromTextBox($('#visademandletterdate').val()),
                            visademandletterno: $('#visademandletterno').val(),
                            hr_visademandList: myData,

                            CurrentState: $("#chknewassign").prop("checked") == true ? 1 : 2 //$("#existingreppassportid").val() == null ? 1 : 2,

                        });

                        if (myData.length == 0) {
                            inforamtionDialog("Alert", "No Detail Provided", _getCookieForLanguage("_btnOK")).then(function (answer) {
                                if (answer == "true") {

                                }

                            });
                        }
                        else {
                            confirmationDialog(_getCookieForLanguage("_confirmationTitle"), _getCookieForLanguage("_saveConfirmation"), _getCookieForLanguage("_btnYes"), _getCookieForLanguage("_btnNo")).then(function (answer) {
                                if (answer == "true") {

                                    $.ajax({
                                        url: baseurl + "HrVisaDemandInfo/HrVisaDemandInfoInsert",
                                        data: input,
                                        type: 'POST',
                                        success: function (data) {
                                            if (data.status === "success") {
                                                inforamtionDialog(data.title, data.responsetext, _getCookieForLanguage("_btnOK")).then(function (answer) {
                                                    if (answer == "true") {
                                                        //window.location.href =  baseurl + "HrVisaDemandInfo/HrVisaDemandInfo";
                                                        $('#mcHrVisaDemandInfoNew').html('');
                                                        $('#modal-container-HrVisaDemandInfoNew').modal('hide');
                                                        GetAllDataHrVisaDemandInfo();
                                                    }
                                                    else {
                                                        $('#mcHrVisaDemandInfoNew').html('');
                                                        $('#modal-container-HrVisaDemandInfoNew').modal('hide');
                                                        GetAllDataHrVisaDemandInfo();
                                                    }
                                                });
                                            }

                                            else {
                                                inforamtionDialog(data.title, data.responsetext, _getCookieForLanguage("_btnOK")).then(function (answer) {
                                                    if (answer == "true") {
                                                        //window.location.href =  baseurl + "HrReplacementInfo/HrReplacementInfo";
                                                        //$('#mcHrReplacementInfoNew').html('');
                                                        //$('#modal-container-HrReplacementInfoNew').modal('hide');

                                                    }
                                                });
                                            }
                                        }
                                    });
                                }
                            });
                        }
                    }
                    else {
                        return;
                    }

                } catch (e) {
                    $.alert({
                        title: _getCookieForLanguage("_informationTitle"),
                        content: e.message,
                        type: 'red'
                    });
                }
            });

            $j('.dateonly').datetimepicker(
                {
                    // format: 'L'
                    format: 'DD-MM-YYYY'
                });

            $('#btnClear').hide();
            $("#btnSearch").click(function () {

                $('#btnClear').show();
                $('#RepPassportID').prop('disabled', true);
                $('#txtDemandLetterDate').prop('disabled', true);

                if ($("#RepPassportID").val() != null) {
                    $("#dvInfoDetail").removeClass("hidden");
                    getReplacementList_New(2);
                    $('#chknewassign').prop('checked', true);
                    $('#chkupdassign').prop('checked', false);
                }
                else {
                    $("#dvInfoDetail").addClass("hidden");
                }
            });

            //$('input:checkbox').click(function () {
            //    if ($(this).prop("checked") == true)
            //        $('input:checkbox').not(this).prop('checked', false);
            //    else
            //        $('input:checkbox').not(this).prop('checked', true);
            //});

            $(".chkAssign").change(function () {
                $("#existingvisademandid").val(null).trigger('change');
                loadselectedvisaletterno("");
               
                if ($(this).prop('checked') == true && $(this).val() == "assignnew" && $("#RepPassportID").val() != null) {
                    $("#dvexistingletterno").addClass("hidden");
                    getReplacementList_New(2);
                   // $("#existingvisademandid").select2('destroy');
                }
                else if ($(this).prop('checked') == true && $(this).val() == "updateexisting" && $("#RepPassportID").val() != null) {
                    $("#dvexistingletterno").removeClass("hidden");
                    $("#GenVisaDemandDt").find("tr:gt(0)").remove();
                   LoadSelect2VisaDemandLetterNo();
                }
            });

        });
        function loadselectedvisaletterno(val) {
            if (val != "") {
                $("#visademanddate").val($("#existingvisademandid").select2('data')[0].visademanddate);
                $("#visademandletterno").val($("#existingvisademandid").select2('data')[0].text);
                $("#visademandletterdate").val($("#existingvisademandid").select2('data')[0].visademandletterdate);

                getReplacementForEdit(5);
            }
            else {
                $("#visademanddate").val('');
                $("#visademandletterno").val('');
                $("#visademandletterdate").val('');

                $("#GenVisaDemandDt").find("tr:gt(0)").remove();



            }
        }

        function getReplacementForEdit(type) {
            try {
                AddAntiForgeryToken = function (data) {
                    data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
                    return data;
                };
                var input = AddAntiForgeryToken({
                    token: $(".txtUserSTK").val(),
                    userinfo: $(".txtServerUtilObj").val(),
                    useripaddress: $(".txtuserip").val(),
                    sessionid: $(".txtUserSes").val(),
                    methodname: "HrReplacementInfoNew",
                    currenturl: window.location.href,

                    DemandTypeID: $("#demandtype").val(),
                    RepPassportID: $("#RepPassportID").val(),
                    DemandID: $("#existingvisademandid").val(),
                    IsAll: type
                });

                $.ajax({
                    url: $("#txtBaseUrl").val() + "Common/GetRepPassportListByRepPassportID",
                    type: 'POST',
                    data: input,
                    success: function (response) {
                        $("#GenVisaDemandDt").find("tr:gt(0)").remove();
                        if (response.status = "success" && response.totalrows > 0) {

                            var rowindex = 0;
                            $(response.data).each(function (index) {

                                var letterstat = "<td class='lblletterstat'>New</td>";

                               // if ($("#existingvisademandid").length > 0 && $("#existingvisademandid").val() != null ) {
                                    letterstat = "<td class='lblletterstat'>" + response.data[index].LetterStatus + "</td>";
                               // }

                                var strdisabled = response.data[index].LetterStatus != null & response.data[index].LetterStatus != "" && parseInt($(response.data[index].LetterStatus).attr("leterstatusid")) > 3 ? "disabled='disabled'" : "";

                                rowindex++;

                                var ischcked = response.data[index].VisaDemandDetlID != null ? "checked='checked'" : "";

                                $('#GenVisaDemandDt tr:last').after("<tr role='row'>" +
                                    "<td>" + rowindex + " </td>" +
                                    "<td style='width:460px'>" + response.data[index].NewFullName + "/" + response.data[index].PassportNoNew + "/" + response.data[index].KuwaitiTrade +
                                    " <input class='hidden txtdetailinfo' value='" + response.data[index].MilNoKW + "' detailid='" + response.data[index].VisaDemandDetlID + "' reppassportdetlid='" + response.data[index].RepPassportDetlID + "'  type='text' class='form-control txtMilNo'  hrbasicid='" + response.data[index].NewHrBasicID + "' hrsvcid='" + response.data[index].NewHrSvcID + "''></td>" +
                                    "<td ><input disabled='disabled'  type='text' value='" + datetoStr(response.data[index].PassportRecvDate) + "' class='form-control txtPassRecvDate' ></td>" +
                                    "<td><input disabled='disabled' type='text' value='" + datetoStr(response.data[index].PassportLetterDate) + "/" + response.data[index].PassportLetterNo + "' class='form-control txtLetterDateAndNo' ></td>" +
                                    letterstat+
                                    "<td class='tdSelect'><input  type='checkbox' class='chkSelect'   " + ischcked + strdisabled+ "' ></td>" +
                                    "</tr>");
                            });

                        }
                        else {

                        }
                    }
                });

            } catch (e) {
                $.alert({
                    title: _getCookieForLanguage("_informationTitle"),
                    content: e.message,
                    type: 'red'
                });
            }
        }

        function getReplacementList(type) {

            try {
                AddAntiForgeryToken = function (data) {
                    data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
                    return data;
                };
                var input = AddAntiForgeryToken({
                    token: $(".txtUserSTK").val(),
                    userinfo: $(".txtServerUtilObj").val(),
                    useripaddress: $(".txtuserip").val(),
                    sessionid: $(".txtUserSes").val(),
                    methodname: "HrReplacementInfoNew",
                    currenturl: window.location.href,
                    newdemandid: $("#RepPassportID").val(),
                    letterno: null,//$("#existingreppassportid").val(),
                    isall: type
                });

                $.ajax({
                    url: $("#txtBaseUrl").val() + "Common/GetNewDemandListPassportByDemandID", //GetNewDemandListPassportByDemandID",
                    type: 'POST',
                    data: input,
                    success: function (response) {
                        $("#GenVisaDemandDt").find("tr:gt(0)").remove();

                        if (response.status = "success" && response.totalrows > 0) {

                            var rowindex = 0;
                            $(response.data).each(function (index) {
                                // console.log(index + ": " + $(this).text());
                                rowindex++;

                                if (response.data[index].passportrecvdate != null) {
                                    $('#passportrecvdate').val(datetoStr(response.data[index].passportrecvdate));
                                    $('#letterno').val(response.data[index].letterno);
                                    $('#letterdate').val(datetoStr(response.data[index].letterdate));
                                    $('#txtpassportletterdate').val(datetoStr(response.data[index].letterdate));
                                }

                                $('#passportrecvdate').attr('disabled', 'disabled');
                                $('#letterno').attr('disabled', 'disabled');
                                $('#letterdate').attr('disabled', 'disabled');

                                var ischcked = response.data[index].visademanddetailid != null ? "checked='checked'" : "";
                                var strpassport = response.data[index].hrbasicid != null ? "value='" + response.data[index].passportno + "'" : "";
                                var strname1 = response.data[index].hrbasicid != null ? "value='" + response.data[index].name1 + "'" : "";
                                var strname2 = response.data[index].hrbasicid != null ? "value='" + response.data[index].name2 + "'" : "";

                                if (response.data[index].hrbasicid != null) {
                                    $('#GenVisaDemandDt tr:last').after("<tr role='row'>" +
                                        "<td>" + rowindex + " </td>" +
                                        "<td style='width:460px'>" + response.data[index].name1 + " " + response.data[index].name2 + "/" + response.data[index].passportno + "/" + response.data[index].rankname +
                                        " <input class='hidden txtdetailinfo' value='" + "' detlid='" + response.data[index].newdemanddetlid + "' reppassportdetlid='" + response.data[index].newdemandpassportid + "'  type='text' class='form-control txtMilNo'  hrbasicid='" + response.data[index].hrbasicid + "' hrsvcid='" + response.data[index].hrsvcid + "'></td>" +
                                        "<td class='tdPassportNo'><input disabled='disabled'  type='text' " + strpassport + " class='form-control txtPassportNo' ></td>" +
                                        "<td class='tdFirstName'><input disabled='disabled'  " + strname1 + "  type='text' class='form-control txtFirstName' ></td>" +
                                        "<td class='tdSurName'><input disabled='disabled'  type='text' " + strname2 + " class='form-control txtSurName' ></td>" +
                                        "<td class='tdSelect'><input  type='checkbox' class='chkSelect'  " + ischcked + "' ></td>" +
                                        "</tr>");
                                }
                            });

                            $(".txtPassportNo").change(function () {
                                if ($(this).val().length > 0)
                                    $(this).parent().parent().find(".chkSelect").prop("checked", true);
                                else
                                    $(this).parent().parent().find(".chkSelect").prop("checked", false);
                            });
                        }
                        else {
                        }
                    }
                });

            } catch (e) {
                $.alert({
                    title: _getCookieForLanguage("_informationTitle"),
                    content: e.message,
                    type: 'red'
                });
            }


        }

        function getReplacementList_New(type) {

            try {
                AddAntiForgeryToken = function (data) {
                    data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
                    return data;
                };
                var input = AddAntiForgeryToken({
                    token: $(".txtUserSTK").val(),
                    userinfo: $(".txtServerUtilObj").val(),
                    useripaddress: $(".txtuserip").val(),
                    sessionid: $(".txtUserSes").val(),
                    methodname: "HrReplacementInfoNew",
                    currenturl: window.location.href,
                    RepPassportID: $("#RepPassportID").val(),
                    DemandID: $("#existingvisademandid").val(),
                    DemandTypeID: 2,
                    isall: type
                });

                $.ajax({
                    url: $("#txtBaseUrl").val() + "Common/GetRepPassportListByRepPassportID",
                    type: 'POST',
                    data: input,
                    success: function (response) {
                        $("#GenVisaDemandDt").find("tr:gt(0)").remove();
                        if (response.status = "success" && response.totalrows > 0) {

                            var rowindex = 0;

                            $(response.data).each(function (index) {

                                var letterstat = "<td class='lblletterstat'>New</td>";

                                if ($("#existingvisademandid").length > 0 && $("#existingvisademandid").val() != null ) {
                                    letterstat = "<td class='lblletterstat'>" + response.data[index].LetterStatus + "</td>";
                                }

                                var strdisabled = response.data[index].LetterStatus != null & response.data[index].LetterStatus != "" && parseInt($(response.data[index].LetterStatus).attr("leterstatusid")) >3 ? "disabled='disabled'" : "";


                                rowindex++;

                                // console.log(index + ": " + $(this).text());
                                var ischcked = response.data[index].VisaDemandDetlID != null ? "checked='checked'" : "";

                                $('#GenVisaDemandDt tr:last').after("<tr role='row'>" +
                                    "<td>" + rowindex + " </td>" +
                                    "<td style='width:460px'>" + response.data[index].NewFullName + "/" + response.data[index].PassportNoNew + "/" + response.data[index].KuwaitiTrade +
                                    " <input class='hidden txtdetailinfo' value='" + response.data[index].MilNoKW + "' detailid='" + response.data[index].VisaDemandDetlID + "' reppassportdetlid='" + response.data[index].RepPassportDetlID + "'  type='text' class='form-control txtMilNo'  hrbasicid='" + response.data[index].NewHrBasicID + "' hrsvcid='" + response.data[index].NewHrSvcID + "''></td>" +
                                    "<td ><input disabled='disabled'  type='text' value='" + datetoStr(response.data[index].PassportRecvDate) + "' class='form-control txtPassRecvDate' ></td>" +
                                    "<td><input disabled='disabled' type='text' value='" + datetoStr(response.data[index].PassportLetterDate) + "/" + response.data[index].PassportLetterNo + "' class='form-control txtLetterDateAndNo' ></td>" +
                                    letterstat+
                                    "<td class='tdSelect'><input  type='checkbox' class='chkSelect' class='chkSelect'  " + ischcked + strdisabled+ "' ></td>" +
                                    "</tr>");
                            });

                        }
                        else {

                        }
                    }
                });

            } catch (e) {
                $.alert({
                    title: _getCookieForLanguage("_informationTitle"),
                    content: e.message,
                    type: 'red'
                });
            }
        }




        function datetoStr(data) {
            if (data != null) {
                var regex = /-?\d+/;
                var match = regex.exec(data);
                var pubdate = new Date(parseInt(match[0]));

                var dd = pubdate.getDate(); var mm = pubdate.getMonth() + 1;
                var yyyy = pubdate.getFullYear();

                if (dd < 10) { dd = '0' + dd }

                if (mm < 10) { mm = '0' + mm }

                var today = dd + '/' + mm + '/' + yyyy;// + ' ' + pubdate.getHours() + ':' + pubdate.getMinutes() + ':' + pubdate.getSeconds();
                return today;
            }
            else {
                return "";
            }
        }


    </script>




