@model KAF.BusinessDataObjects.hr_residentvisaEntity

<style>
    .form-horizontal .form-group {
        margin-right: 10px;
        margin-left: 10px;
    }
</style>

@using (Ajax.BeginForm("", "", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "", LoadingElementId = "divProgressBar" }, new { @id = "frmHr_ResidentVisaDetail", @class = "form-horizontal" }))
{
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    HtmlHelper.ClientValidationEnabled = true;
    @Html.AntiForgeryToken()

    <div class="panel panel-primary list-panel" id="list-panel">
        <div class="panel-heading list-panel-heading">
            @KAF.MsgContainer._hr_residentvisa.residentvisaDetails
        </div>

        <div class="panel-body">
            <div class="modal-body">
                <div class="form-horizontal container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                @Html.HiddenFor(m => m.residentid)
                                @Html.HiddenFor(m => m.hrbasicid)

                                @Html.HiddenFor(m => m.strModelPrimaryKey)
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.Label("Military No (KW)", htmlAttributes: new { @class = "labelNormal  " })
                                        @Html.EditorFor(model => model.militarynokw, new { htmlAttributes = new { @readonly = "readonly", @class = "militarynokw form-control" } })
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.passportid, htmlAttributes: new { @class = "labelNormal   required " })
                                        @{Html.RenderAction("LoadPassportInfoByBasicId", "Common", new { area = "", selectid = "passportid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preHr_PassportInfo, basicId = Model.hrbasicid, multiple = false, isReadOnly = true, IsRequired = true });}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.residencynumber, htmlAttributes: new { @class = "labelNormal required " })
                                        @Html.EditorFor(model => model.residencynumber, new { htmlAttributes = new { @readonly = "readonly", @class = " form-control" } })
                                        @Html.ValidationMessageFor(model => model.residencynumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.issuedate, htmlAttributes: new { @class = "labelNormal  required " })
                                        @Html.EditorFor(model => model.issuedate, new { htmlAttributes = new { @readonly = "readonly", @Value = Model.issuedate != null ? Convert.ToDateTime(Model.issuedate).ToString("dd-MM-yyyy") : null, @class = "form-control", @type = "text" } })
                                        @Html.ValidationMessageFor(m => m.issuedate, "", new { @class = "text-danger " })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.expirydate, htmlAttributes: new { @class = "labelNormal  required " })
                                            @Html.EditorFor(model => model.expirydate, new { htmlAttributes = new { @readonly = "readonly", @Value = Model.expirydate != null ? Convert.ToDateTime(Model.expirydate).ToString("dd-MM-yyyy") : null, @class = "form-control", @type = "text" } })
                                        @Html.ValidationMessageFor(m => m.expirydate, "", new { @class = "text-danger " })
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">

                            @{
                                if (@Model.filepath != null)
                                {
                                    var url = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);

                                        <div class="form-group">
                                            <label id="custom-file-label" for="fileupload" class="labelNormal">File..</label>
                                            <a download="@Model.filename" target="_blank" href="@Model.filepath">Download</a>
                                            <div class="embed-responsive embed-responsive-16by9">
                                                @if (Model.extension == ".doc" || Model.extension == ".docx" || Model.extension == ".xls" || Model.extension == ".xlsx")
                                                {
                                                    <iframe src='https://view.officeapps.live.com/op/embed.aspx?src=@url@Model.filepath' width='100%' height='650px' frameborder='0'></iframe>
                                                }
                                                else if (Model.extension == ".pdf" || Model.extension == ".jpg" || Model.extension == ".jpeg" || Model.extension == ".png")
                                                {
                                                    <embed src="@Model.filepath" class="embed-responsive-item" />
                                                }
                                            </div>
                                        </div>
                                }
                            }

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-toolbar">
                                <button type="submit" id="btnModalCloseDetail" class="btn btn-danger btn-md cancel"><i class="fa fa-arrow-circle-left"> </i> @KAF.MsgContainer._Common._btnCancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>


</script>




