@model KAF.BusinessDataObjects.hr_attachmentinfoEntity

<style>
        .form-horizontal .form-group {
            margin-right: 10px;
            margin-left: 10px;
        }
    </style>

@using (Ajax.BeginForm("", "", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "", LoadingElementId = "divProgressBar" }, new { @id = "frmAttachmentInfoDetail", @class = "form-horizontal" }))
{
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    HtmlHelper.ClientValidationEnabled = true;
    @Html.AntiForgeryToken()
    
    <div class="panel panel-primary list-panel" id="list-panel">
        <div class="panel-heading list-panel-heading">
            @KAF.MsgContainer._hr_attachmentinfo.attachmentinfoDetails
        </div>
        
        <div class="panel-body">
            <div class="modal-body">
                <div class="form-horizontal container">
                    <div class="row">
                        @Html.HiddenFor(m => m.attachmentid)
                        @Html.HiddenFor(m => m.hrbasicid)
                        @Html.HiddenFor(m => m.okpid)
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Military No (KW)", htmlAttributes: new { @class = "labelNormal  " })
                                @Html.EditorFor(model => model.militarynokw, new { htmlAttributes = new { @readonly = "readonly", @class = "militarynokw form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.fromsubunitid, htmlAttributes: new { @class = "labelNormal   required " })
                                @*@{Html.RenderAction("LoadSubUnitSearch", "Common", new { area = "", selectid = "fromsubunitid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preGen_SubUnit, multiple = false, isReadOnly = false, IsRequired = true });}*@
                                @{Html.RenderAction("LoadComboBoxWithCascadeOption", "DataCache", new { EntityName = KAF.CustomHelper.HelperClasses.clsDataCache.gen_subunitEntity[0].ToString(), selectid = "fromsubunitid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preGen_FromSubUnit, multiple = false, isReadOnly = true, IsRequired = true, isStatic = true, cascadewith = Model.okpid.ToString() });}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.fromcampid, htmlAttributes: new { @class = "labelNormal   required " })
                                @* @{Html.RenderAction("LoadCampSearch", "Common", new { area = "", selectid = "fromcampid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preGen_Camp, multiple = false, isReadOnly = false, IsRequired = true });}*@
                                @{Html.RenderAction("LoadComboBoxWithCascadeOption", "DataCache", new { EntityName = KAF.CustomHelper.HelperClasses.clsDataCache.gen_campEntity[0].ToString(), selectid = "fromcampid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preGen_FromCamp, multiple = false, isReadOnly = true, IsRequired = true, isStatic = true, cascadewith = Model.okpid.ToString() });}
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.subunitid, htmlAttributes: new { @class = "labelNormal   required " })
                                @* @{Html.RenderAction("LoadSubUnitSearch", "Common", new { area = "", selectid = "subunitid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preGen_SubUnit, multiple = false, isReadOnly = false, IsRequired = true });}*@
                                @{Html.RenderAction("LoadComboBoxWithCascadeOptionAndException", "DataCache", new { EntityName = KAF.CustomHelper.HelperClasses.clsDataCache.gen_subunitEntity[0].ToString(), selectid = "subunitid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preGen_SubUnit, multiple = false, isReadOnly = true, IsRequired = true, isStatic = true, cascadewith = Model.okpid.ToString(), exceptionIds = Model.fromsubunitid.ToString() });}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.campid, htmlAttributes: new { @class = "labelNormal   required " })
                                @*@{Html.RenderAction("LoadCampSearch", "Common", new { area = "", selectid = "campid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preGen_Camp, multiple = false, isReadOnly = false, IsRequired = true });}*@
                                @{Html.RenderAction("LoadComboBoxWithCascadeOptionAndException", "DataCache", new { EntityName = KAF.CustomHelper.HelperClasses.clsDataCache.gen_campEntity[0].ToString(), selectid = "campid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preGen_Camp, multiple = false, isReadOnly = true, IsRequired = true, isStatic = true, cascadewith = Model.okpid.ToString(), exceptionIds = Model.fromcampid.ToString() });}
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.fromdate, htmlAttributes: new { @class = "labelNormal  required " })
                                <div class='input-group date dateonly' id='' style='width: 100%; '>
                                    @Html.EditorFor(model => model.fromdate, new { htmlAttributes = new { @readonly = "readonly", @Value = Model.fromdate != null ? Convert.ToDateTime(Model.fromdate).ToString("dd-MM-yyyy") : null, @class = "form-control", @type = "text" } })
                                    <span class="input-group-addon ">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(m => m.fromdate, "", new { @class = "text-danger " })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.reason, htmlAttributes: new { @class = "labelNormal  " })
                                @Html.EditorFor(model => model.reason, new { htmlAttributes = new { @readonly = "readonly", @class = " form-control" } })
                                @Html.ValidationMessageFor(model => model.reason, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.letterno, htmlAttributes: new { @class = "labelNormal  " })
                                @Html.EditorFor(model => model.letterno, new { htmlAttributes = new { @readonly = "readonly", @class = " form-control" } })
                                @Html.ValidationMessageFor(model => model.letterno, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.letterdate, htmlAttributes: new { @class = "labelNormal   " })
                                <div class='input-group date dateonly' id='' style='width: 100%; '>
                                    @Html.EditorFor(model => model.letterdate, new { htmlAttributes = new {@readonly="readonly", @Value = Model.letterdate != null ? Convert.ToDateTime(Model.letterdate).ToString("dd-MM-yyyy") : null, @class = "form-control", @type = "text" } })
                                    <span class="input-group-addon ">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(m => m.letterdate, "", new { @class = "text-danger " })
                            </div>
                        </div>
                    </div>
                    <div class="btn-toolbar">
                        <button type="submit" id="btnModalCloseDetail" class="btn btn-danger btn-md cancel"><i class="fa fa-arrow-circle-left"> </i> @KAF.MsgContainer._Common._btnCancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
//filecontrol addons




</script>
    



