@model KAF.BusinessDataObjects.hr_newdemanddetlEntity

<style>
        .form-horizontal .form-group {
            margin-right: 10px;
            margin-left: 10px;
        }
    </style>

@using (Ajax.BeginForm("", "", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "", LoadingElementId = "divProgressBar" }, new { @id = "frmHr_NewDemandDetlDetail", @class = "form-horizontal" }))
{
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    HtmlHelper.ClientValidationEnabled = true;
    @Html.AntiForgeryToken()
    
    <div class="panel panel-primary list-panel" id="list-panel">
        <div class="panel-heading list-panel-heading">
            @KAF.MsgContainer._hr_newdemanddetl.hr_newdemanddetlDetails
        </div>
        
        <div class="panel-body">
            <div class="modal-body">
                <div class="form-horizontal container">
                    <div class="row">
                        @Html.HiddenFor(m => m.newdemanddetlid)
                        @Html.HiddenFor(m => m.strModelPrimaryKey)
                    </div>
					 <div class="row ">
						 <div class="col-md-6">
							 <div class="form-group">
								 @Html.LabelFor(model => model.newdemandid,  htmlAttributes: new { @class = "labelNormal   required " })
								 @{Html.RenderAction("LoadHr_NewDemandSearch", "Common", new { area = "", selectid = "newdemandid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preHr_NewDemand, multiple = false, isReadOnly = true, IsRequired = true });}
							</div>
						</div>
					</div>
					 <div class="row ">
						 <div class="col-md-6">
							 <div class="form-group">
								 @Html.LabelFor(model => model.rankid,  htmlAttributes: new { @class = "labelNormal   required " })
								 @{Html.RenderAction("LoadComboBox", "DataCache", new { EntityName = KAF.CustomHelper.HelperClasses.clsDataCache.gen_rank[0].ToString(), selectid = "rankid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preloadedGen_Rank, multiple = false, isReadOnly = true, IsRequired = true, isStatic = false });}
							</div>
						</div>
						 <div class="col-md-6">
							 <div class="form-group">
								 @Html.LabelFor(model => model.tradeid,  htmlAttributes: new { @class = "labelNormal   required " })
								 @{Html.RenderAction("LoadGen_TradeSearch", "Common", new { area = "", selectid = "tradeid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preGen_Trade, multiple = false, isReadOnly = true, IsRequired = true });}
							</div>
						</div>
					</div>
					 <div class="row ">
						 <div class="col-md-6">
							 <div class="form-group">
							 @Html.LabelFor(model => model.groupid, htmlAttributes: new { @class = "labelNormal required " })
							 @Html.EditorFor(model => model.groupid, new { htmlAttributes = new {  @readonly = "readonly",  @class = "form-control" } })
							 @Html.ValidationMessageFor(model => model.groupid, "", new { @class = "text-danger" })
							</div>
						</div>
						 <div class="col-md-6">
							 <div class="form-group">
								 @Html.LabelFor(model => model.okpid,  htmlAttributes: new { @class = "labelNormal   required " })
								 @{Html.RenderAction("LoadGen_OkpSearch", "Common", new { area = "", selectid = "okpid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preGen_Okp, multiple = false, isReadOnly = true, IsRequired = true });}
							</div>
						</div>
					</div>
					 <div class="row ">
						 <div class="col-md-6">
							 <div class="form-group">
							 @Html.LabelFor(model => model.noofvacancies, htmlAttributes: new { @class = "labelNormal required " })
							 @Html.EditorFor(model => model.noofvacancies, new { htmlAttributes = new {  @readonly = "readonly",  @class = "form-control" } })
							 @Html.ValidationMessageFor(model => model.noofvacancies, "", new { @class = "text-danger" })
							</div>
						</div>
						 <div class="col-md-6">
							 <div class="form-group">
								 @Html.LabelFor(model => model.remarks, htmlAttributes: new { @class = "labelNormal  " })
								 @Html.EditorFor(model => model.remarks, new { htmlAttributes = new {   @readonly = "readonly",  @class = " form-control" } })
								 @Html.ValidationMessageFor(model => model.remarks, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
                    <div class="btn-toolbar">
                        <button type="submit" id="btnModalCloseDetail" class="btn btn-danger btn-md cancel"><i class="fa fa-arrow-circle-left"> </i> @KAF.MsgContainer._Common._btnCancel</button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
}
<script>
//filecontrol addons




</script>
    



