@model KAF.BusinessDataObjects.owin_userEntity
@{
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="panel panel-primary list-panel" id="list-panel">
                <div class="panel-heading list-panel-heading">
                    @KAF.MsgContainer._Login.forgetPasswordHeader
                </div>
                @using (Ajax.BeginForm("", "",
                                                         new AjaxOptions
                                                         {
                                                             HttpMethod = "POST",
                                                                 //OnSuccess = "OnSuccessChangePasswordRequest",
                                                                 //OnFailure = "OnFailureChangePasswordRequest"
                                                                 OnSuccess = "",
                                                             OnFailure = ""
                                                         }, new { @id = "frmUChangePasswordRequest", @class = "form-horizontal" }))
                {
                    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
                    HtmlHelper.ClientValidationEnabled = true;
                    @Html.AntiForgeryToken()

                    <div class="modal-body">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.username, KAF.MsgContainer._Login.username, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.emailaddress, KAF.MsgContainer._Login.emailaddress, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.emailaddress, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.emailaddress, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.mobilenumber, KAF.MsgContainer._Login.mobilenumber, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.mobilenumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.mobilenumber, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.passwordanswer, KAF.MsgContainer._Login.passwordanswer, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.passwordanswer, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.password, KAF.MsgContainer._Login.password, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.passwordsalt, KAF.MsgContainer._Login.passwordsalt, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.passwordsalt, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-8">
                                    <div class="modal-footer">
                                        <button type="submit" id="btnchangepasswordrequest" class="btn btn-primary btn-md btnchangepasswordrequest">@KAF.MsgContainer._Common._btnSave <i class="fa fa-sign-in"></i></button>
                                        <button type="submit" id="btncanceltologin" class="btn btn-primary btn-md btncanceltologin">@KAF.MsgContainer._Common._btnCancel <i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="~/DesignsAndScripts/PageWise/ForgetPassword/ForgetPassword.js"></script>
}
