@model KAF.BusinessDataObjects.BusinessDataObjectsPartials.KAFProcess_ManpoewrStateEntity

<style>
    .form-horizontal .form-group {
        margin-right: 10px;
        margin-left: 10px;
    }
    .list-panel .panel-body {
        padding: 5px;
    }

    .list-panel .modal-body {
        padding: 5px;
    }
</style>

@using (Ajax.BeginForm("", "", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "", LoadingElementId = "divProgressBar" }, new { @id = "frmManpowerStateDetail", @class = "form-horizontal" }))
{
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    HtmlHelper.ClientValidationEnabled = true;
    @Html.AntiForgeryToken()

    <div class="panel panel-primary list-panel" id="list-panel_dddd">
        <div class="panel-heading list-panel-heading">
            @KAF.MsgContainer._tran_manpowerstate.manpowerstateDetails
        </div>

        <div class="panel-body">
            <div class="modal-body">
                <div class="form-horizontal container">
                    <div class="row">
                        @Html.HiddenFor(p => p.ManpowerStateID)
                        @Html.HiddenFor(p => p.IsProcess)
                        @Html.HiddenFor(p => p.ex_nvarchar1)
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("OKP", htmlAttributes: new { @class = "labelNormal   required  " })
                                @{Html.RenderAction("LoadComboBox", "DataCache", new { EntityName = KAF.CustomHelper.HelperClasses.clsDataCache.gen_okpEntity[0].ToString(), selectid = "OkpID", minimumInputLength = 0, delay = 250, preloaded = ViewBag.pregen_arms, multiple = false, isReadOnly = true, IsRequired = true, isStatic = true, selectedvalue = Model.OkpID });}

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ManpowerStateDate, htmlAttributes: new { @class = "labelNormal  required " })
                                <div class='input-group date dateonly' id='' style='width: 100 %; '>
                                    @Html.EditorFor(model => model.ManpowerStateDate, new { htmlAttributes = new { @Value = Model.ManpowerStateDate.Value.ToString("dd-MM-yyyy"), @class = "form-control", @type = "text", @readonly = "readonly" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                   

                </div>
            </div>

            <div class="panel-body" >
                <div id="dvManpowerProcessDt">

                </div>
            </div>

            <div class="btn-toolbar">
                <button type="submit" id="btnModalCloseDetail" class="btn btn-danger btn-md cancel"><i class="fa fa-arrow-circle-left"> </i> @KAF.MsgContainer._Common._btnCancel</button>
            </div>
        </div>
    </div>
}
<script>
    //filecontrol addons

    function LoadData() {

        try {


            var input = AddAntiForgeryToken({
                token: $(".txtUserSTK").val(),
                userinfo: $(".txtServerUtilObj").val(),
                useripaddress: $(".txtuserip").val(),
                sessionid: $(".txtUserSes").val(),
                methodname: "HrFamilyInfoCreate",
                currenturl: window.location.href,

                // manpowerstateid: $('#manpowerstateid').val(),
                okpid: $('#OkpID').val(),
                manpowerstatedate: GetDateFromTextBox($('#ManpowerStateDate').val()),

                //reviewdate: GetDateFromTextBox($('#reviewdate').val()),
                //reviewremarks: $('#reviewremarks').val(),
                //isapproved: $('#isapproved').val(),
                //approvedate: GetDateFromTextBox($('#approvedate').val()),
                //approveby: $('#approveby').val(),
                //approveremarks: $('#approveremarks').val(),

            });

            $.ajax({
                url: baseurl + "TranManpowerStateApprove/TranManpowerStateApproveViewProcessedDetail",
                data: input,
                type: 'POST',
                success: function (data) {
                    if (data.status != "failed") {

                        $("#dvManpowerProcessDt").html(data);

                        $("#dvManpowerProcessDt .clsview").click(function () {

                            try {
                                AddAntiForgeryToken = function (data) {
                                    data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
                                    return data;
                                };
                                var input = AddAntiForgeryToken({
                                    token: $(".txtUserSTK").val(),
                                    userinfo: $(".txtServerUtilObj").val(),
                                    useripaddress: $(".txtuserip").val(),
                                    sessionid: $(".txtUserSes").val(),
                                    methodname: "TranManpowerStateApproveNew",
                                    currenturl: window.location.href,

                                    ManpowerStateID: $(this).attr('manpowerstateid'),
                                    ManpowerStatusID: $(this).attr('manpowerstatusid'),
                                });

                                $.ajax({
                                    url: baseurl + "TranManpowerStateApprove/GetProcessedDataDetail",
                                    type: 'POST',
                                    data: input,
                                    success: function (response) {
                                        $('#mcTranManpowerProcessDetail').html('');
                                        $('#mcTranManpowerProcessDetail').html(response);
                                        $('#modalcontainerManpowerProcessDetail').modal({ backdrop: 'static', keyboard: false });
                                    }
                                });

                            } catch (e) {
                                $.alert({
                                    title: _getCookieForLanguage("_informationTitle"),
                                    content: e.message,
                                    type: 'red'
                                });
                            }

                        });


                    }

                    else {
                        inforamtionDialog(data.title, data.responsetext, _getCookieForLanguage("_btnOK")).then(function (answer) {
                            if (answer == "true") {

                            }
                            else {

                            }
                        });
                    }
                }
            });



        } catch (e) {
            $.alert({
                title: _getCookieForLanguage("_informationTitle"),
                content: e.message,
                type: 'red'
            });
        }
    }


    $(document).ready(function () {

        LoadData();

    });



</script>




