
@{
    ViewBag.Title = KAF.MsgContainer._tran_manpowerstate.manpowerstateList;
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
    PageData["baseUrl"] = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');
}
<input type="hidden" id="hddokpid" value='@ViewBag.okpid' />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading" style="height:60px;">
                <div class="row">

                    <div class="col-md-2">
                        <div class="form-group">

                            @{Html.RenderAction("LoadComboBox", "DataCache", new { EntityName = KAF.CustomHelper.HelperClasses.clsDataCache.gen_okpEntity[0].ToString(), selectid = "okpid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preloadedGen_Okp, multiple = false, isReadOnly = false, Is = true, isStatic = true });}

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            @{
                                KAF.CustomHelper.HelperClasses.clsSecurityPanel objSecPanel = new KAF.CustomHelper.HelperClasses.clsSecurityPanel();

                                if (objSecPanel.checkButtonPermission("TranManpowerStateApprove/TranManpowerStateApproveNew"))
                                {
                                    <button type="submit" class="btn btn-primary btn-md" id="btnNewTranManpowerStateApprove" style="width:150px;">
                                        <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> @KAF.MsgContainer._CommonHtml.add
                                    </button>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table id="TranManpowerStateApproveDt" class="table table-striped table-bordered" style="width:100%;">
                    <thead>
                        <tr>
                            <th>@KAF.MsgContainer._tran_manpowerstate.manpowerstatedate</th>
                            <th>@KAF.MsgContainer._tran_manpowerstate.isprepared</th>
                            <th>@KAF.MsgContainer._tran_manpowerstate.prepareddate</th>
                            <th>@KAF.MsgContainer._tran_manpowerstate.isreviewed</th>
                            <th>@KAF.MsgContainer._tran_manpowerstate.isapproved</th>
                            <th style="width:250px;"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="modal-container-TranManpowerStateApproveNew" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog" style="width:50%!important">
        <div class="modal-content" id="mcTranManpowerStateApproveNew">
        </div>
    </div>
</div>

<div id="modal-container-TranManpowerStateApproveEdit" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog" style="width:50%!important">
        <div class="modal-content" id="mcTranManpowerStateApproveEdit">
        </div>
    </div>
</div>

<div id="modal-container-TranManpowerStateApproveDetail" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog" style="width:50%!important">
        <div class="modal-content" id="mcTranManpowerStateApproveDetail">
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/DesignsAndScripts/PageWise/ParadeState/TranManpowerStateApprove/LandingTranManpowerStateApprove.js"></script>
    
    <script src="~/DesignsAndScripts/PageWise/ParadeState/TranManpowerStateApprove/EditTranManpowerStateApprove.js"></script>
    <script src="~/DesignsAndScripts/PageWise/ParadeState/TranManpowerStateApprove/DetailTranManpowerStateApprove.js"></script>
    <script>
        var addlink = '@ViewBag.addlink';

        $(document).ready(function () {
           

        });
    </script>
}



