@model KAF.BusinessDataObjects.owin_rolepermissionEntity
@{
    ViewBag.Title = KAF.MsgContainer._owin_rolepermission.permissionpagetitle;
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
    PageData["baseUrl"] = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/');
}
<style>
    /*body {
        margin: 50px;
    }*/

    a:hover, a:visited, a:link, a:active {
        text-decoration: none;
    }

    .controls {
        margin-bottom: 10px;
    }

    .collapse-group {
        padding: 10px;
        border: 1px solid darkgrey;
        margin-bottom: 10px;
    }

    .panel-title .trigger:before {
        content: '\e082';
        font-family: 'Glyphicons Halflings';
        vertical-align: text-bottom;
    }

    .panel-title .trigger.collapsed:before {
        content: '\e081';
    }


    .form-horizontal .form-group {
        margin-right: 10px;
        margin-left: 10px;
    }

    .root:before {
        content: '\e082';
        font-family: 'Glyphicons Halflings';
        vertical-align: text-bottom;
    }
    .root.collapsed:before {
        content: '\e081';
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal well">
        <div class="row panel panel-primary">
            <div class="col-lg-12 panel-heading">@KAF.MsgContainer._Common.createtext @KAF.MsgContainer._owin_rolepermission.permissionpagetitle</div>
        </div>

        @*<h4 class="text-center ">Create Role Permission</h4>*@
        @*<hr />*@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            @Html.HiddenFor(model => model.rolepremissionid, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="row container">
                    <div class="col-md-6">
                        <div class="form-group">
                            @*@Html.Label("Role", KAF.MsgContainer._owin_role.rolename, htmlAttributes: new { @class = "labelNormal" })*@
                            @*@{Html.RenderAction("LoadCombo", "Common", new { ddlId = "ddl_role", ddlName = KAF.CustomHelper.HelperClasses.clsDataCache.owin_role, type = typeof(KAF.BusinessDataObjects.owin_roleEntity), cssclass = "form-control" });}*@

                            @Html.LabelFor(model => model.roleid, htmlAttributes: new { @class = "labelNormal   required " })
                            @{Html.RenderAction("LoadComboBox", "DataCache", new { EntityName = KAF.CustomHelper.HelperClasses.clsDataCache.owin_role[0].ToString(), selectid = "ddl_role", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preloadedGen_Course, multiple = false, isReadOnly = false, IsRequired = true, isStatic = true });}
                            <h4><label id="ddlroleVal" class="label label-danger" hidden="hidden"></label></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 divMenu container">

        </div>



        <button type="submit" id="btnRolePerSave" class="btn btn-primary btn-md" value="Save"> @KAF.MsgContainer._Common._btnSave <i class="fa fa-sign-in"></i></button>

    </div>



}

@section scripts {
    <script src="~/DesignsAndScripts/PageWise/Security/RolePermission/RolePermission.js"></script>
}