@model KAF.BusinessDataObjects.owin_userEntity
<div id="target">

    <div class="panel panel-primary list-panel" id="list-panel">
        <div class="panel-heading list-panel-heading">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            Profile Update
        </div>
        @using (Ajax.BeginForm("PostModalUpdateProfile", "Home",
                                                         new AjaxOptions
                                                         {
                                                             HttpMethod = "POST",
                                                             OnSuccess = "",
                                                             OnFailure = ""
                                                         }, new { @id = "frmUpdateProfile", @class = "form-horizontal" }))
        {
            HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
            HtmlHelper.ClientValidationEnabled = true;
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.applicationid)
                    @Html.HiddenFor(model => model.masteruserid)
                    @Html.HiddenFor(model => model.userid)

                    <input id="imgprofileTemp"
                           name="imgprofile"
                           type="hidden"
                           value="@ViewBag.tempUserProfilePhoto" />

                    <div class="row hidden">
                        <div class="col-md-12 text-center">
                            <div class="form-group">
                                <div class="row">
                                    @*<button id="btnAttachmentProfileEdit" title="Change Profile Image" class="btn btn-primary start btnAttachmentProfileEdit" style="background-color: white; width: 200px;height: 150px;" type="button">
                                            <img id="imgprofile" src="@ViewBag.UserProfilePhoto" style="width: 100%;height:100%;" />
                                        </button>*@
                                    <img id="imgprofile" src="@ViewBag.UserProfilePhoto" class="center" style="background-color: white; width: 200px;height: 150px;" />
                                    <br />
                                </div>
                                @*<div class="row">
                                        <button type="submit" id="btnRemoveImageProfile" class="btn btn-primary btn-xs btnRemoveImageProfile ">Remove <i class="fa fa-trash-o"></i></button>
                                    </div>*@
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.username, KAF.MsgContainer._Login.username, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.username, new { @class = "form-control", @disabled = "disabled", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.emailaddress, KAF.MsgContainer._Login.emailaddress, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.emailaddress, new { @class = "form-control", @disabled = "disabled", @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.loweredusername, KAF.MsgContainer._Login.fullname, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.loweredusername, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.loweredusername, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.mobilenumber, KAF.MsgContainer._Login.mobilenumber, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.mobilenumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.mobilenumber, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.passwordquestion, KAF.MsgContainer._Login.passwordquestion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @* @Html.EditorFor(model => model.passwordquestion, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.DropDownListFor(model => model.passwordquestion, (List<SelectListItem>)ViewBag.SecQuestns, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.passwordquestion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.passwordanswer, KAF.MsgContainer._Login.passwordanswer, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.passwordanswer, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.passwordanswer, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="modal-footer">
                                <button type="submit" id="btnupdateprofile" class="btn btn-primary btn-md btnupdateprofile">@KAF.MsgContainer._Common._btnSubmit <i class="fa fa-sign-in"></i></button>
                                <button type="button" class="btn btn-primary btn-md" data-dismiss="modal">@KAF.MsgContainer._Common._btnCancel <i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div><input type="file" id="attachmentProfile" name="attachmentProfile" class="hidden" />
</div>

