@model KAF.BusinessDataObjects.hr_reppassportinfoEntity

<style>
    .form-horizontal .form-group {
        margin-right: 10px;
        margin-left: 10px;
    }

    .form-control {
        height: 31px;
    }

    .input-group-addon {
        padding: 3px 12px;
    }

    .panel {
        margin-bottom: 5px;
    }

    .panel-body {
        padding: 7px;
    }
</style>

@using (Ajax.BeginForm("", "", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "", LoadingElementId = "divProgressBar" }, new { @id = "frmHr_RepPassportInfoDetail", @class = "form-horizontal" }))
{
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    HtmlHelper.ClientValidationEnabled = true;
    @Html.AntiForgeryToken()

    <div class="panel panel-primary list-panel" id="list-panel">
        <div class="panel-heading list-panel-heading">
            Replacement Passport Information: @KAF.MsgContainer._hr_reppassportinfo.reppassportinfoDetails
        </div>

        <div class="panel-body">
            <div class="modal-body">
                <div class="form-horizontal container">
                    <div class="row">
                        @Html.HiddenFor(m => m.reppassportid)
                        @Html.HiddenFor(m => m.replacementid)
                        @Html.HiddenFor(m => m.strModelPrimaryKey)
                    </div>

                    <br />
                    <div class="panel panel-primary list-panel" id="dvrecinfo">
                        <div class="panel-body">
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.passportrecvdate, htmlAttributes: new { @class = "labelNormal  required " })
                                        <div class='input-group date dateonly' id='' style="width: 100%; ">
                                            @Html.EditorFor(model => model.passportrecvdate, new { htmlAttributes = new { @Value = Model.passportrecvdate != null ? Convert.ToDateTime(Model.passportrecvdate).ToString("dd-MM-yyyy") : null, @class = "form-control", @type = "text" } })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        @Html.ValidationMessageFor(m => m.passportrecvdate, "", new { @class = "text-danger " })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.passportletterdate, htmlAttributes: new { @class = "labelNormal  required " })
                                        <div class='input-group date dateonly' id='' style="width: 100%; ">
                                            @Html.EditorFor(model => model.passportletterdate, new { htmlAttributes = new { @Value = Model.passportletterdate != null ? Convert.ToDateTime(Model.passportletterdate).ToString("dd-MM-yyyy") : null, @class = "form-control", @type = "text" } })
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        @Html.ValidationMessageFor(m => m.passportletterdate, "", new { @class = "text-danger " })
                                    </div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.passportletterno, htmlAttributes: new { @class = "labelNormal required " })
                                        @Html.EditorFor(model => model.passportletterno, new { htmlAttributes = new { @class = " form-control" } })
                                        @Html.ValidationMessageFor(model => model.passportletterno, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6 hidden">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.remarks, htmlAttributes: new { @class = "labelNormal  " })
                                        @Html.EditorFor(model => model.remarks, new { htmlAttributes = new { @class = " form-control" } })
                                        @Html.ValidationMessageFor(model => model.remarks, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-12">
                            <table id="GenRepPassportDt" class="table table-striped table-bordered dataTable no-footer dtr-inline" style="width:100%;" role="grid" aria-describedby="GenRepPassportDt_info">
                                <thead>
                                    <tr role="row">
                                        <th rowspan="1" colspan="1" style='width:460px'>Mil No/Rank/Name/Appt/OKP</th>
                                        <th rowspan="1" colspan="1">Passport No</th>
                                        <th rowspan="1" colspan="1">First Name</th>
                                        <th rowspan="1" colspan="1">Sur Name</th>
                                        <th rowspan="1" colspan="1">Birth Date</th>
                                        <th rowspan="1" colspan="1">Father's Name</th>
                                        <th>Status</th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                    <br />
                    <div class="btn-toolbar">
                        <button type="submit" id="btnModalCloseDetail" class="btn btn-danger btn-md cancel"><i class="fa fa-arrow-circle-left"> </i> @KAF.MsgContainer._Common._btnCancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    //filecontrol addons

    $(document).ready(function () {
        getReplacementList(5);

    });
    function getReplacementListByRepPassportID(passportid) {
        try {
            AddAntiForgeryToken = function (data) {
                data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
                return data;
            };
            var input = AddAntiForgeryToken({
                token: $(".txtUserSTK").val(),
                userinfo: $(".txtServerUtilObj").val(),
                useripaddress: $(".txtuserip").val(),
                sessionid: $(".txtUserSes").val(),
                methodname: "HrReplacementInfoNew",
                currenturl: window.location.href,
                RepPassportID: passportid

            });



            $.ajax({
                url: $("#txtBaseUrl").val() + "Common/GetReplacementPassportListByRepPassportID",
                type: 'POST',
                data: input,
                success: function (response) {

                    $("#GenRepPassportDt").find("tr:gt(0)").remove();

                    if (response.status = "success" && response.totalrows > 0) {



                        $(response.data).each(function (index) {
                            // console.log(index + ": " + $(this).text());

                            var ischcked = response.data[index].NewPassport.length > 0 ? "checked='checked'" : "";
                            var strfathername = response.data[index].RepPassportDetlID != null ? "value='" + (response.data[index].ex_nvarchar1 == null ? "" : response.data[index].ex_nvarchar1) + "'" : "";
                            var strbdate1 = response.data[index].RepPassportDetlID != null ? "value='" + datetoStr(response.data[index].ex_date1) + "'" : "";

                            $('#GenRepPassportDt tr:last').after("<tr role='row'>" +
                                "<td style='width:460px'>" + response.data[index].milnokw + "/" + response.data[index].KuwaitiRank + "/" + response.data[index].fullname + "/" + response.data[index].KuwaitiTrade + "/" + response.data[index].OkpName +
                                " <input class='hidden txtdetailinfo' value='" + response.data[index].milnokw + "' reppassportdetlid='" + response.data[index].RepPassportDetlID + "' detailid='" + response.data[index].ReplacementDetlID + "'  type='text' class='form-control txtMilNo' hrbasicid='" + response.data[index].HRBasicID + "' hrsvcid='" + response.data[index].HrSvcID + "'  newhrbasicid='" + response.data[index].NewHrBasicID + "' newhrsvcid='" + response.data[index].NewHrSvcID + "''></td>" +
                                "<td class='tdPassportNo'><input  type='text' class='form-control txtPassportNo' value='" + response.data[index].NewPassport + "' ></td>" +
                                "<td class='tdFirstName'><input  type='text' class='form-control txtFirstName' value='" + response.data[index].NewName1 + "'></td>" +
                                "<td class='tdSurName'><input  type='text' class='form-control txtSurName' value='" + response.data[index].NewName2 + "'></td>" +
                                "<td class='tdBDate'> <div class='input-group date dateonly' id='' style='width: 100%; '>" +
                                "<input  type='text' " + strbdate1 + "  style='width:100px;' class='form-control txtBDate' >" +
                                " <span class='input-group-addon'>" +
                                "         <span class='glyphicon glyphicon-calendar'></span>" +
                                "    </span>" +
                                "</div></td>" +
                                "<td class='tdFatherName'><input  type='text' " + strfathername + " class='form-control txtFatherName' ></td>" +

                                "<td class='lblletterstat'>" + response.data[index].LetterStatus + "</td>" +
                                //  "<td class='tdSelect'><input  type='checkbox' class='chkSelect'  " + ischcked + "' ></td>" +
                                "</tr>");
                        });
                        $('input[type=text]').attr("disabled", "disabled");
                     
                        //if (type == 1)
                        //    HrReplacementNewRow();
                    }
                    else {
                        //if (type == 1)
                        //    HrReplacementNewRow();
                    }
                }
            });

        } catch (e) {
            $.alert({
                title: _getCookieForLanguage("_informationTitle"),
                content: e.message,
                type: 'red'
            });
        }
    }

    function getReplacementList(type) {
        try {
            AddAntiForgeryToken = function (data) {
                data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
                return data;
            };
            var input = AddAntiForgeryToken({
                token: $(".txtUserSTK").val(),
                userinfo: $(".txtServerUtilObj").val(),
                useripaddress: $(".txtuserip").val(),
                sessionid: $(".txtUserSes").val(),
                methodname: "HrReplacementInfoNew",
                currenturl: window.location.href,
                // ReplacementID: $("#replacementid").val(),
                RepPassportID: $("#reppassportid").val(),
                IsAll: type
            });

            $.ajax({
                url: $("#txtBaseUrl").val() + "Common/GetReplacementListByReplacementID",
                type: 'POST',
                data: input,
                success: function (response) {
                    $("#GenRepPassportDt").find("tr:gt(0)").remove();
                    if (response.status = "success" && response.totalrows > 0) {
                       
                        $(response.data).each(function (index) {

                            var ischcked = response.data[index].RepPassportDetlID != null ? "checked='checked'" : "";
                            var strpassport = response.data[index].RepPassportDetlID != null ? "value='" + response.data[index].newPassportno + "'" : "";
                            var strname1 = response.data[index].RepPassportDetlID != null ? "value='" + response.data[index].newName1 + "'" : "";
                            var strname2 = response.data[index].RepPassportDetlID != null ? "value='" + response.data[index].newName2 + "'" : "";
                            var strfathername = response.data[index].RepPassportDetlID != null ? "value='" + (response.data[index].ex_nvarchar1 == null ? "" : response.data[index].ex_nvarchar1) + "'" : "";
                            var strbdate1 = response.data[index].RepPassportDetlID != null ? "value='" + datetoStr(response.data[index].ex_date1) + "'" : "";

                            $('#GenRepPassportDt tr:last').after("<tr role='row'>" +
                                "<td style='width:460px'>" + response.data[index].milnokw + "/" + response.data[index].KuwaitiRank + "/" + response.data[index].fullname + "/" + response.data[index].KuwaitiTrade + "/" + response.data[index].OkpName +
                                " <input class='hidden txtdetailinfo' value='" + response.data[index].milnokw + "' replacementdetlid='" + response.data[index].ReplacementDetlID + "' detailid='" + response.data[index].RepPassportDetlID + "'  type='text' class='form-control txtMilNo'  hrbasicid='" + response.data[index].HRBasicID + "' hrsvcid='" + response.data[index].HrSvcID + "'  newhrbasicid='" + response.data[index].NewHrBasicID + "' newhrsvcid='" + response.data[index].NewHrSvcID + "'></td>" +
                                "<td class='tdPassportNo'><input  type='text' " + strpassport + " class='form-control txtPassportNo' ></td>" +
                                "<td class='tdFirstName'><input " + strname1 + "  type='text' class='form-control txtFirstName' ></td>" +
                                "<td class='tdSurName'><input  type='text' " + strname2 + " class='form-control txtSurName' ></td>" +
                                "<td class='tdBDate'> <div class='input-group date dateonly' id='' style='width: 100%; '>" +

                                "<input  type='text' " + strbdate1 + "  style='width:100px;' class='form-control txtBDate' >" +
                                " <span class='input-group-addon'>" +
                                "         <span class='glyphicon glyphicon-calendar'></span>" +
                                "    </span>" +
                                "</div></td>" +
                                "<td class='tdFatherName'><input  type='text' " + strfathername + " class='form-control txtFatherName' ></td>" +

                                "<td class='tdSelect'><input  type='checkbox' class='chkSelect'  " + ischcked + "' ></td>" +
                                "</tr>");
                        });

                        $("input[type=text]").attr("disabled", "disabled");
                        $("input[type=checkbox]").attr("disabled", "disabled");

                    }

                }
            });

        } catch (e) {
            $.alert({
                title: _getCookieForLanguage("_informationTitle"),
                content: e.message,
                type: 'red'
            });
        }
    }



</script>




