@model KAF.BusinessDataObjects.hr_familyinfoEntity

<style>
    .form-horizontal .form-group {
        margin-right: 10px;
        margin-left: 10px;
    }
</style>

@using (Ajax.BeginForm("", "", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "", LoadingElementId = "divProgressBar" }, new { @id = "frmHr_FamilyInfoNew", @class = "form-horizontal" }))
{
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    HtmlHelper.ClientValidationEnabled = true;
    @Html.AntiForgeryToken()

    <div class="panel panel-primary list-panel" id="list-panel">
        <div class="panel-heading list-panel-heading">
            @KAF.MsgContainer._hr_familyinfo.familyinfoCreate
        </div>

        <div class="panel-body">
            <div class="modal-body">
                <div class="form-horizontal container">
                    <div class="row">
                        @Html.HiddenFor(m => m.hrfamilyid)
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Military No (KW)", htmlAttributes: new { @class = "labelNormal  " })
                                @Html.EditorFor(model => model.militarynokw, new { htmlAttributes = new { @readonly = "readonly", @class = "militarynokw form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.familyfullname, htmlAttributes: new { @class = "labelNormal required " })
                                @Html.EditorFor(model => model.familyfullname, new { htmlAttributes = new { @class = " form-control" } })
                                @Html.ValidationMessageFor(model => model.familyfullname, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.relationshipid, htmlAttributes: new { @class = "labelNormal   required " })
                                @{Html.RenderAction("LoadComboBox", "DataCache", new { EntityName = KAF.CustomHelper.HelperClasses.clsDataCache.gen_relationshipEntity[0].ToString(), selectid = "relationshipid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preloadedGen_Relationship, multiple = false, isReadOnly = false, IsRequired = true, isStatic = false });}
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.familycivilid, htmlAttributes: new { @class = "labelNormal  " })
                                @Html.EditorFor(model => model.familycivilid, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.familycivilid, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.familynationalid, htmlAttributes: new { @class = "labelNormal  " })
                                @Html.EditorFor(model => model.familynationalid, new { htmlAttributes = new { @class = " form-control" } })
                                @Html.ValidationMessageFor(model => model.familynationalid, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.familygenderid, htmlAttributes: new { @class = "labelNormal   required " })
                                @{Html.RenderAction("LoadComboBox", "DataCache", new { EntityName = KAF.CustomHelper.HelperClasses.clsDataCache.gen_genderEntity[0].ToString(), selectid = "familygenderid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preloadedGen_Gender, multiple = false, isReadOnly = false, IsRequired = true, isStatic = false });}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.familyreligionid, htmlAttributes: new { @class = "labelNormal     " })
                                @{Html.RenderAction("LoadComboBox", "DataCache", new { EntityName = KAF.CustomHelper.HelperClasses.clsDataCache.gen_religionEntity[0].ToString(), selectid = "familyreligionid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preloadedGen_Religion, multiple = false, isReadOnly = false, IsRequired = false, isStatic = false });}
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.familymaritalstatusid, htmlAttributes: new { @class = "labelNormal     " })
                                @{Html.RenderAction("LoadComboBox", "DataCache", new { EntityName = KAF.CustomHelper.HelperClasses.clsDataCache.gen_maritalstatusEntity[0].ToString(), selectid = "familymaritalstatusid", minimumInputLength = 0, delay = 250, preloaded = ViewBag.preloadedGen_MaritalStatus, multiple = false, isReadOnly = true, IsRequired = false, isStatic = false });}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.familymobile1, htmlAttributes: new { @class = "labelNormal  " })
                                @Html.EditorFor(model => model.familymobile1, new { htmlAttributes = new { @class = " form-control" } })
                                @Html.ValidationMessageFor(model => model.familymobile1, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.familytelephone1, htmlAttributes: new { @class = "labelNormal  " })
                                @Html.EditorFor(model => model.familytelephone1, new { htmlAttributes = new { @class = " form-control" } })
                                @Html.ValidationMessageFor(model => model.familytelephone1, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.remarks, htmlAttributes: new { @class = "labelNormal  " })
                                @Html.EditorFor(model => model.remarks, new { htmlAttributes = new { @class = " form-control" } })
                                @Html.ValidationMessageFor(model => model.remarks, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="btn-toolbar">
                        <button type="submit" id="btnSaveHrFamilyInfo" class="btn btn-primary btn-md btnSaveHrFamilyInfo"><i class="fa fa-save"> </i> @KAF.MsgContainer._Common._btnSave</button>
                        <button type="submit" id="btnModalCloseNew" class="btn btn-danger btn-md cancel"><i class="fa fa-arrow-circle-left"> </i> @KAF.MsgContainer._Common._btnCancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>
//filecontrol addons
 var fileobject = @Html.Raw(Json.Encode(Model.cor_foldercontentsList));


$('.footable').footable({
	 calculateWidthOverride: function () {
		 return { width: $(window).width() };
	 }
});



$(document).ready(function () {
	 $('#marriagefiledescriptionupld').kaffileUploader({
		 _tableid: 'tbl_marriagefiledescription',
		 _colname: 'marriagefiledescription',
		 _tabname: 'Hr_FamilyInfo',
		 _fileuploadbuttontext: 'Upload files',
		 _modelid: 'File_upload_for_Marriage_Document',
		 _modeltext: 'File upload for Marriage Document',
		 _fileinputname: 'inpfilemarriagefiledescription',
		 _containeruploadpreview: 'marriagefiledescriptionuploadpreview',
		 _containerdeletebuttontext: '@KAF.MsgContainer._Common._btnDelete',
		 _ismultiple: true,
		 _fileobject: fileobject

});
$(document).ready(function () {
	 $('#divorcefiledescriptionupld').kaffileUploader({
		 _tableid: 'tbl_divorcefiledescription',
		 _colname: 'divorcefiledescription',
		 _tabname: 'Hr_FamilyInfo',
		 _fileuploadbuttontext: 'Upload files',
		 _modelid: 'File_upload_for_Divorce_Document',
		 _modeltext: 'File upload for Divorce Document',
		 _fileinputname: 'inpfiledivorcefiledescription',
		 _containeruploadpreview: 'divorcefiledescriptionuploadpreview',
		 _containerdeletebuttontext: '@KAF.MsgContainer._Common._btnDelete',
		 _ismultiple: true,
		 _fileobject: fileobject

});
$(document).ready(function () {
	 $('#familydeathfiledescriptionupld').kaffileUploader({
		 _tableid: 'tbl_familydeathfiledescription',
		 _colname: 'familydeathfiledescription',
		 _tabname: 'Hr_FamilyInfo',
		 _fileuploadbuttontext: 'Upload files',
		 _modelid: 'File_upload_for_FamilyDeath_Document',
		 _modeltext: 'File upload for FamilyDeath Document',
		 _fileinputname: 'inpfilefamilydeathfiledescription',
		 _containeruploadpreview: 'familydeathfiledescriptionuploadpreview',
		 _containerdeletebuttontext: '@KAF.MsgContainer._Common._btnDelete',
		 _ismultiple: true,
		 _fileobject: fileobject

});


 $j('.dateonly').datetimepicker(
        {
            // format: 'L'
            format: 'DD-MM-YYYY'
        });
</script>




