@model KAF.BusinessDataObjects.owin_userEntity
@{
    ViewBag.Title = KAF.MsgContainer._Login.userReviewpagetitle;
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<style>
    .form-horizontal .form-group {
        margin-right: 10px;
        margin-left: 10px;
    }

    .footablecusheadercolor {
        background-color: aliceblue;
    }

    select.select2 {
        color: #444;
        background-color: #FFF;
        border: 1px solid #AAA;
        border-radius: 4px;
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 28px;
        padding-left: 5px;
        font: unset;
    }

    input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>


<div class="panel panel-primary list-panel" id="list-panel">
    <div class="panel-heading list-panel-heading">
        @KAF.MsgContainer._hr_basicprofile.basicprofileCreate
    </div>
    <div class="panel-body">
        @using (Ajax.BeginForm("", "", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "", LoadingElementId = "divProgressBar" }, new { @id = "frmUserReviewGroupSearch", @class = "frmUserReviewGroupNew form-horizontal", enctype = "multipart/form-data" }))
        {
            HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
            HtmlHelper.ClientValidationEnabled = true;
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                        @{ Html.EnableClientValidation(false); }
                        @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "labelNormal required " })
                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @id = "txtUsername", @class = "form-control ", @placeholder = "Please enter user name", @data_error = "provide user name" } })
                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                        @{ Html.EnableClientValidation(true); }
                    </div>
                </div>
            </div>
            @*<div class="form-group">
                    <div class="col-md-6">
                        <label for="exampleFormControlInput1">@KAF.MsgContainer._Login.isapproved</label>
                        @{
                            var listItems = new List<SelectListItem>();
                            listItems.Add(new SelectListItem { Text = @KAF.MsgContainer._CommonHtml.pleaseselect, Value = "-99" });
                            listItems.Add(new SelectListItem { Text = @KAF.MsgContainer._CommonHtml.yes, Value = "1" });
                            listItems.Add(new SelectListItem { Text = @KAF.MsgContainer._CommonHtml.no, Value = "0" });
                        }
                        @Html.DropDownList("ddlIsApproved", listItems, new { @id = "ddlIsApproved", @class = "form-control" })
                    </div>
                </div>*@

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="btn-toolbar">
                            <button type="submit" id="btnSearchUserReviewGroup" class="btn btn-danger btn-md search"><i class="fa fa-search"></i> @KAF.MsgContainer._Common._btnSearch</button>
                        </div>
                    </div>
                </div>
            </div>


        }

        <table id="candidateDt" class="table table-striped table-bordered" style="width: 100%;">
            <thead>
                <tr>
                    <th></th>
                    <th>User Photo</th>
                    <th>User Name</th>
                    <th>Mobile Number</th>
                    <th>Email</th>
                    <th>IsLocked</th>
                </tr>
            </thead>
        </table>

        <br />
        <br />
        <br />
        @using (Ajax.BeginForm("", "", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "", LoadingElementId = "divProgressBar" }, new { @id = "frmUserReviewGroupNew", @class = "frmUserReviewGroupNew form-horizontal", enctype = "multipart/form-data" }))
        {
            HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
            HtmlHelper.ClientValidationEnabled = true;
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="btn-toolbar">
                            <button type="submit" id="btnSaveUserReviewGroup" class="btn btn-primary btn-md btnSaveUserReviewGroup"><i class="fa fa-save"> </i> @KAF.MsgContainer._Common._btnSave</button>
                            @*<button type="submit" id="btnModalCloseNew" class="btn btn-danger btn-md cancel"><i class="fa fa-arrow-circle-left"> </i> @KAF.MsgContainer._Common._btnCancel</button>*@
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="~/DesignsAndScripts/PageWise/Security/UserReviewGroup/NewUserReviewGroup.js"></script>

}



