@model KAF.BusinessDataObjects.BusinessDataObjectsPartials.KAF_GetUserInfoByCredentialEntity
<style>
    .form-horizontal .form-group {
        margin-right: 10px;
        margin-left: 10px;
    }
</style>

@using (Ajax.BeginForm("", "",
                         new AjaxOptions
                         {
                             HttpMethod = "POST",
                             OnSuccess = "OnSuccessChangePassword",
                             OnFailure = "OnFailureChangePassword",
                             LoadingElementId = "divProgressBar"
                         }, new { @id = "frmloginTSV", @class = "form-horizontal" }))
{
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    HtmlHelper.ClientValidationEnabled = true;
    @Html.AntiForgeryToken()

    <div class="panel panel-primary list-panel" id="list-panel">
        <div class="panel-heading list-panel-heading">
            @KAF.MsgContainer._owin_tsv._headerText
        </div>

        <div class="panel-body">
            <div class="modal-body">
                <div class="form-horizontal container">
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.applicationid)
                        @Html.HiddenFor(model => model.masteruserid)
                        @Html.HiddenFor(model => model.userid)
                    </div>
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.password, KAF.MsgContainer._owin_tsv.tsvtoken, htmlAttributes: new { @class = "control-label col-md-2 required" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="btn-toolbar">
                        <button type="submit" id="btnloginTSV" class="btn btn-primary btn-md btnchangepassword">@KAF.MsgContainer._Common._btnSubmit <i class="fa fa-sign-in"></i></button>
                        <button type="button" id="btncancel" class="btn btn-primary btn-md" data-dismiss="modal">@KAF.MsgContainer._Common._btnCancel <i class="fa fa-times"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
}