@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<!-- Start Slider Area -->
<!-- End Slider Area -->
<!-- Start About area -->
<div id="about" class="about-area area-padding" style="padding-bottom: 9px!important;">
    <div class="" style="margin-left:20px;margin-right:20px;">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2 class="ataglnaceh2">BMC At a Glance</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="well-middle">
                    <div class="single-well">

                        Bangladesh shares a long history of friendship and cooperation with Kuwait. Specially, the military cooperation between these two countries is very significant since the Gulf War in 1990-1991. Bangladesh extended its full support and participated in Coalition Forces for the liberation of Kuwait. Cooperation between Bangladesh and Kuwait Armed Forces was deepened during the post Gulf War period in 1991. It was a highly professional and effective participation by Bangladesh Armed Forces in inspecting and clearing the landmines that were planted all over Kuwait. Since then, the contribution of Bangladesh Armed Forces in various sectors of Kuwait Armed Forces has always been highly applauded.
                    </div>
                </div>
            </div>
            <!-- End col-->
        </div>
    </div>
</div>
@*<div class="row">
        <div style="text-align:center;width:10%;">
        </div>
        <div style="text-align:center;width:80%;" class="containerdiv">

        </div>

        <div style="text-align:center;width:10%;">
        </div>
    </div>*@
<div id="home" class="slider-area">
    <div class="bend niceties preview-2">
        <div id="ensign-nivoslider" class="slides">
            <img src="~/LocalDesignsAndScripts/Images/slider/slider1.jpg" alt="" title="#slider-direction-1" />
            <img src="~/LocalDesignsAndScripts/Images/slider/slider2.jpg" alt="" title="#slider-direction-2" />
            <img src="~/LocalDesignsAndScripts/Images/slider/slider3.jpg" alt="" title="#slider-direction-3" />
        </div>
        <!-- direction 1 -->

        <div id="slider-direction-1" class="slider-direction slider-one">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="slider-content">
                            <!-- layer 1 -->
                            <div class="layer-1-1 hidden-xs wow slideInDown" data-wow-duration="100s" data-wow-delay=".2s">
                                @*<h2 class="title1">التصويت الالكتروني المسُبق</h2>*@
                            </div>
                            <!-- layer 2 -->
                            <div class="layer-1-2 wow slideInUp" data-wow-duration="100s" data-wow-delay=".1s">
                                @*<h1 class="title2">على القوانين و المقترحات </h1>*@
                            </div>
                            <div class="layer-1-2 wow slideInUp" data-wow-duration="200s" data-wow-delay=".1s">
                                @*<h1 class="title2">(38) {وَأَمْرُهُمْ شُورَى بَيْنَهُمْ} الشورى</h1>*@
                            </div>
                            <!-- layer 3 -->
                            <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="200s" data-wow-delay=".2s">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- direction 2 -->
        <div id="slider-direction-2" class="slider-direction slider-two">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="slider-content text-center">
                            <!-- layer 1 -->
                            <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                @* <h2 class="title1">المادة 108 من الدستور الكويتي </h2>*@
                            </div>
                            <!-- layer 2 -->
                            <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                                @* <h1 class="title2">عضو المجلس يمثل الأمة بأسرها، ويرعى المصلحة العامة، ولا سلطان لأي هيئة عليه في عمله بالمجلس</h1>*@
                            </div>
                            <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                                @* <h1 class="title2">أو لجانة</h1>*@
                            </div>
                            <!-- layer 3 -->
                            <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                @*<a class="ready-btn page-scroll" href="#about">Learn More</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- direction 3 -->
        <div id="slider-direction-3" class="slider-direction slider-two">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="slider-content">
                            <!-- layer 1 -->
                            <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                @*<h2 class="title1">المادة 110 من الدستور الكويتي</h2>*@
                            </div>
                            <!-- layer 2 -->
                            <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                                @*  <h1 class="title2">عضو مجلس الأمة حر فيما يبديه من الآراء والأفكار بالمجلس أو لجانه، ولا تجوز مؤاخذته عن ذلك بحال</h1>*@
                            </div>
                            <!-- layer 2 -->
                            <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                                @*<h1 class="title2">من الأحوال</h1>*@
                            </div>
                            <!-- layer 3 -->
                            <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Service area -->
<!-- our-skill-area start -->
<div class="our-skill-area fix hidden-sm">
    <div class="test-overly"></div>
    <div class="skill-bg area-padding-2">
        <div class="">
            <!-- section-heading end -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                    <h1 id="h1hrd" class="text-center" style="color: white; "> Present BMC Strength (6169)</h1>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="skill-text" id="dvskill" style="">
                    <!-- single-skill start -->


                </div>
            </div>

        </div>
    </div>
</div>

<div class="testimonials-area">
    <div class="testi-inner area-padding">
        <div class="testi-overly"></div>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- Start testimonials Start -->
                    <div class="testimonial-content text-center">

                        <!-- start testimonial carousel -->
                        <div class="testimonial-carousel">
                            <div class="single-testi">
                                <div class="testi-text">
                                    <h6>Bangladesh Military Contingents Command Headquarters (BMC HQ)</h6>
                                    <p>
                                        Since establishment on 25 May 1991, Bangladesh Military Contingents Command Headquarters has been strengthening the friendly cooperation between Bangladesh Armed Forces and Kuwait Armed Forces in all aspects. It is the coordinating Headquarters between Bangladesh Army Headquarters and Kuwait Armed Forces General Headquarters. There are 11 contingents of Bangladesh Armed Forces performing their duties under Bangladesh Military Contingents Command Headquarters with credibility through professionalism, discipline and sincerity. Looking back on almost three-decade of service, Bangladesh Military Contingent Headquarters is poised to contribute more in the future to uphold the friendship and cooperation.
                                    </p>

                                </div>
                            </div>
                            <!-- End single item -->
                            <div class="single-testi">
                                <div class="testi-text">
                                    <h6>Detection and Clearance of Landmines and Explosives and Assistance in Combat Engineering (OKP-1 & OKP-2)</h6>

                                    <p>
                                        Clearance of the landmines and explosive remnants of Gulf War is a challenging and time- consuming task. Two Bangladeshi contingents namely, OKP-1 and OKP-2 are involved in removal of landmines and unexploded bombs, war debris, execute demolition as well as surveying and mapping of hazardous areas for subsequent clearance. As a result, these contingents return safe land to communities to build a safer and more sustainable future. OKP-1 and OKP-2 started their journey on 20 July 1991 and 28 March 2002 respectively. OKP-8 is a new contingent that contributes to the field of combat engineering under Land Force Engineer Headquarters of Kuwait Armed Forces since 14 February 2015.
                                    </p>
                                </div>
                            </div>
                            <!-- End single item -->
                            <div class="single-testi">
                                <div class="testi-text">
                                    <h6>Maintenance and Repair (OKP-3) </h6>
                                    <p>
                                        OKP-3 with its skillful maintenance and repair personnel, is devoted to keep Kuwait armed Forces vehicle and equipment well maintained. This contingent mainly consists of personnel from the Corps of Electrical and Mechanical Engineers. Through their hard work, they maintain the operational fitness of the Electrical and Mechanical equipment, Electronic and Optical equipment of Kuwait Armed Forces. This contingent also provides technical advice to supported units and conduct recovery operations in various capacities. This contingent started its journey on 13 August 1991.
                                    </p>

                                </div>
                            </div>
                            <div class="single-testi">
                                <div class="testi-text">
                                    <h6>Ammunition Technician and Specialist (OKP-4)  </h6>
                                    <p>
                                        OKP-4 comprising skilled ammunition technicians and specialists, is responsible for maintaining all types of arms, ammunitions and explosives of Kuwait Armed Forces. OKP-4 has been working under Arms and Ammunition Command of Kuwait Armed Forces since 31 January 1992.
                                    </p>

                                </div>
                            </div>
                            <div class="single-testi">
                                <div class="testi-text">
                                    <h6>Medical Support (OKP-5) </h6>
                                    <p>
                                        OKP-5 is rendering medical and dental treatment, diagnostic, pharmacy service etc through a group of doctors, pharmacists, nuclear medicine technicians, medical assistants and lab technicians in various hospitals of Kuwait Armed Forces. The contingent also conducts medical check-up during recruitment of MOD personnel, pilots flying fitness and provides assistance in search and rescue operations, field exercises etc. During ongoing COVID-19 pandemic, members of OKP-5 are playing a pivotal role in providing medical services to different quarantine centers and COVID-19 field Hospital like Jeeleb, Mishref, Mahabula etc. OKP-5 started their Journey on 04 March 1993.
                                    </p>

                                </div>
                            </div>
                            <div class="single-testi">
                                <div class="testi-text">
                                    <h6>Physical Security to Ammunition Depots (OKP-6) </h6>
                                    <p>
                                        OKP-6 consists of soldiers from the Corps of Infantry of Bangladesh Army and it is responsible for providing physical security at assigned ammunition depots of Kuwait Armed Forces. Its journey started under Arms and Ammunition Command of Kuwait Armed Forces since 15 February 1992.
                                    </p>

                                </div>
                            </div>
                            <div class="single-testi">
                                <div class="testi-text">
                                    <h6>Training Support Team (Under OKP-6)</h6>
                                    <p>
                                        Since 17 January 2014, the Training Support Team is imparting training to cadets of Kuwait Armed Forces at Ali Al Sabah Military College. A set of experienced Bangladeshi instructors are providing training on weapon handling, drill, physical fitness and basic map reading.

                                    </p>

                                </div>
                            </div>
                            <div class="single-testi">
                                <div class="testi-text">
                                    <h6>Ensuring Smooth Administration and Technical Support (OKP-7) </h6>
                                    <p>
                                        Technical Group (OKP-7) is the largest contingent of BMC to Kuwait. With an array of its personnel from 118 different technical trades employed in 53 different units and Headquarters, OKP-7 is providing various important services to the entire Kuwait Armed Forces. They carry out a wide variety of technical and vocational tasks of Kuwait Armed Forces. This unique contingent started its journey on 25 November 1992.
                                    </p>

                                </div>
                            </div>

                            <div class="single-testi">
                                <div class="testi-text">
                                    <h6>Combat Engineering Support (OKP-8) </h6>
                                    <p>
                                        OKP-8 started its journey under the Land Force Engineer Headquarters, Jahra since 14 February 2015. This contingent is providing combat engineering support to Kuwait Armed Forces. In addition it also carries out minor construction, repair and maintenance works.
                                    </p>

                                </div>
                            </div>
                            <div class="single-testi">
                                <div class="testi-text">
                                    <h6>Construction and Maintenance Engineering Support (OKP-9) </h6>
                                    <p>
                                        OKP-9 is providing Vertical and Horizontal  construction and maintenance engineering support to  Kuwait Armed Forces. OKP-9 (Vertical) started its journey on 09 October 2015 while OKP-9 (Horizontal) has nascent presence since 06 February 2020.
                                    </p>

                                </div>
                            </div>
                            <div class="single-testi">
                                <div class="testi-text">
                                    <h6>Military Communication and Information Technology Operation/Maintenance (OKP-10) </h6>
                                    <p>
                                        OKP-10 started its journey under Kuwait Armed Forces Signal Corp on 12 July 2015. To operate and maintain operational radio, microwave, towers, fiber optics,  WAN etc. are responsibilities on the fields of signal communication. OKP-10 is also responsible for managing Datacenter, in-house software development,  network operations and cyber security of Kuwait Armed Forces’ IT Infrastructure.

                                    </p>

                                </div>
                            </div>
                            <div class="single-testi">
                                <div class="testi-text">
                                    <h6>
                                        Providing Support to the Ministry of Interior (MOI) (OKP-11)
                                    </h6>
                                    <p>
                                        MOI Support Contingent (OKP-11) provides technical and vocational support i.e. maintenance, inspection and storage of arms and ammunition, maintenance and repair of vehicle and marine vessels, information technology, forensic laboratory technician support etc. to Kuwait Police, Special Force, Coast Guard and Land Border Security. OKP-11 is the youngest member of Bangladesh Military Contingents to Kuwait, operating with reputation since 01 March 2016.
                                    </p>

                                </div>
                            </div>

                            <!-- End single item -->
                        </div>
                    </div>
                    <!-- End testimonials end -->
                </div>
                <!-- End Right Feature -->
            </div>
        </div>
    </div>
</div>


<div id="modal-container-Login" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog" style="width:90%!important;top: 100px;left: 25%;">
        <div class="modal-content" id="mcLogin" style=" width: 700px; ">
            <div class="panel with-nav-tabs panel-info">
                <div class="panel-heading" style="background-color: #278abb;">
                    <!--<ul class="nav nav-tabs">-->
                    @*<li class="active"><a href="#login" data-toggle="tab"> Login </a></li>*@
                    @*<li><a href="#signup" data-toggle="tab"> Signup </a></li>*@
                    <!--</ul>-->
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        @using (Ajax.BeginForm("", "",
                         new AjaxOptions
                         {
                             HttpMethod = "POST",
                             OnSuccess = "",
                             OnFailure = "",
                             LoadingElementId = "divProgressBar"
                         }, new { @id = "frmLogin", @class = "form-horizontal" }))
                        {
                            HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
                            HtmlHelper.ClientValidationEnabled = true;

                            <div id="login" class="tab-pane fade in active register ">
                                @*<div class="container-fluid">*@

                                <div class="row text-center">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <span class="text-center" style="color: #5cb85c;height: 96px !important"> <img src="~/DesignsAndScripts/Images/Picture1.png" style="text-align:center; height: 120px !important" /></span>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <h2 class="text-center" style="color: #5cb85c;font-size: 27px;line-height:30px;"> <strong>@KAF.MsgContainer._Login.headerText</strong></h2>
                                        @*<hr />*@
                                    </div>
                                    <div class="col-md-4">
                                    </div>

                                </div>
                                @*<div class="row">
                                    <h2 class="text-center" style="color: #5cb85c;"> <strong>@KAF.MsgContainer._Login.headerText</strong></h2><hr />*@
                                <div class="row ">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-10 ">
                                        <div class="form-group" style="height:30px;">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <span class="glyphicon glyphicon-user"></span>
                                                </div>
                                                <input class="form-control text-box single-line valid" data-error="@KAF.MsgContainer._Login.usernameRequired" data-val="true" data-val-required="@KAF.MsgContainer._Login.usernameRequired" id="txtusername" name="txtusername" placeholder="@KAF.MsgContainer._Login.usernamePlaceholder" value="" type="text" autocomplete="off"
                                                       onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false">
                                            </div>
                                            <span class="text-danger field-validation-valid" data-valmsg-for="txtusername" data-valmsg-replace="true"></span>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-10">
                                        <div class="form-group" style="height:30px;">
                                            <div class="input-group">
                                                <div class="input-group-addon">
                                                    <span class="glyphicon glyphicon-lock"></span>
                                                </div>
                                                <input class="form-control text-box single-line valid pwd" data-error="@KAF.MsgContainer._Login.passwordRequired" data-val="true" data-val-required="@KAF.MsgContainer._Login.passwordRequired" id="txtpassword" name="txtpassword" placeholder="@KAF.MsgContainer._Login.passwordPlaceholder" value="" type="password" autocomplete="off"
                                                       onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default reveal" type="button"><i class="glyphicon glyphicon-eye-open"></i></button>
                                                </span>
                                            </div>
                                            <span class="text-danger field-validation-valid" data-valmsg-for="txtpassword" data-valmsg-replace="true"></span>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-5" style="padding-left:0px;">
                                        <div class="form-group" style=" float: right;">
                                            @*<div id="divcaptcha" class="divcaptcha">
                                                </div>*@
                                            <a href="#forgot" id="forgotlink" @*data-toggle="modal" data-backdrop="static" data-keyboard="false"*@> @KAF.MsgContainer._Login.forgetPasswordLink</a>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <button type="submit" id="btnlogin" style="float:left;" class="btn btn-primary btn-md btnhascaptcha"> @KAF.MsgContainer._Common._btnSignIn <i class="fa fa-sign-in"></i></button>

                                    </div>
                                    <div class="col-md-1">
                                    </div>
                                </div>

                            </div>}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/DesignsAndScripts/PageWise/Login/Login.js?ver=000001"></script>
<style>
    .ataglnaceh2 {
        display: inline-block;
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 21px !important;
        margin-top: 18px !important;
        position: relative;
        text-transform: capitalize;
    }

    .progress-h4 {
        margin-top: -110px;
        font-size: 17px;
    }

    .singleokp {
        width: 86px;
        height: 51px;
        position: absolute;
        vertical-align: middle;
        margin-top: -141px;
        margin-left: -39px;
        border: 0px;
        background: none;
        font: bold 35px Arial;
        text-align: center;
        color: rgb(62, 193, 213);
        padding: 0px;
        appearance: none;
    }

    .containerdiv {
        /*  display: flex;
        flex-direction: row;
        flex-wrap: wrap;*/
        justify-content: center;
        align-items: center;
    }
</style>
