@model KAF.BusinessDataObjects.hr_passportinfoEntity

<style>
        .form-horizontal .form-group {
            margin-right: 10px;
            margin-left: 10px;
        }
    </style>

@using (Ajax.BeginForm("", "", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "", LoadingElementId = "divProgressBar" }, new { @id = "frmHr_PassportInfoNew", @class = "form-horizontal" }))
{
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    HtmlHelper.ClientValidationEnabled = true;
    @Html.AntiForgeryToken()
    
    <div class="panel panel-primary list-panel" id="list-panel">
        <div class="panel-heading list-panel-heading">
            Passport Information: @KAF.MsgContainer._hr_passportinfo.passportinfoCreate
        </div>
        <div class="panel-body">

           
        </div>
        <div class="panel-body">
            <div class="modal-body">
                <div class="form-horizontal container">
                    <div class="row">
                        @Html.HiddenFor(m => m.passportid)
                        @Html.HiddenFor(m => m.hrbasicid)
                    </div>

                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Military No (KW)", htmlAttributes: new { @class = "labelNormal  " })
                                @Html.EditorFor(model => model.militarynokw, new { htmlAttributes = new { @readonly = "readonly", @class = "militarynokw form-control" } })
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.passportno, htmlAttributes: new { @class = "labelNormal required " })
                                @Html.EditorFor(model => model.passportno, new { htmlAttributes = new { @class = "passportno form-control required" } })
                                @Html.ValidationMessageFor(model => model.passportno, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.passportissuedate, htmlAttributes: new { @class = "labelNormal   required " })
                                <div class='input-group date  fromdate' id='fromdate' style="width: 100 %; ">
                                    @Html.EditorFor(model => model.passportissuedate, new { htmlAttributes = new { @Value = Model.passportissuedate != null ? Convert.ToDateTime(Model.passportissuedate).ToString("dd-MM-yyyy") : null, @class = "form-control required", @type = "text" } })
                                    <span class="input-group-addon ">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(m => m.passportissuedate, "", new { @class = "text-danger " })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.passportexpirydate, htmlAttributes: new { @class = "labelNormal   required " })
                                <div class='input-group date  todate' id='todate' style="width: 100 %; ">
                                    @Html.EditorFor(model => model.passportexpirydate, new { htmlAttributes = new { @Value = Model.passportexpirydate != null ? Convert.ToDateTime(Model.passportexpirydate).ToString("dd-MM-yyyy") : null, @class = "form-control required", @type = "text" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(m => m.passportexpirydate, "", new { @class = "text-danger " })
                            </div>
                        </div>
                    </div>
                    <div class="btn-toolbar">
                        <button type="submit" id="btnSaveHrPassportInfo" class="btn btn-primary btn-md btnSaveHrPassportInfo"><i class="fa fa-save"> </i> @KAF.MsgContainer._Common._btnSave</button>
                        <button type="submit" id="btnModalCloseNew" class="btn btn-danger btn-md cancel"><i class="fa fa-arrow-circle-left"> </i> @KAF.MsgContainer._Common._btnCancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script>
$('.footable').footable({
	 calculateWidthOverride: function () {
		 return { width: $(window).width() };
	 }
});

    $j('#fromdate').datetimepicker(
        {
            //format: 'L'
            format: 'DD-MM-YYYY',
            maxDate: moment()
        });
    $j('#todate').datetimepicker({
        useCurrent: false, //Important! See issue #1075
        //format: 'L'
        format: 'DD-MM-YYYY'
    });
    $j("#fromdate").on("dp.change", function (e) {
        $j('#todate').data("DateTimePicker").minDate(e.date);
    });
    $j("#todate").on("dp.change", function (e) {
        $j('#fromdate').data("DateTimePicker").maxDate(e.date);
    });

 $j('.dateonly').datetimepicker(
     {
        // maxDate: 0,
            // format: 'L'
            format: 'DD-MM-YYYY'
        });
    

     //$('input[id=passportno]').change(function () {
     //        checkexists('', $(".passportno").val());
     //    });

    var webapiurl = '@System.Configuration.ConfigurationManager.AppSettings["webapi"]';
    var headerauth = $("#txtwebapitoken").val();

    function checkexists(civilid, passportno) {

        $.ajax({
            url: webapiurl + "api/HrMilitaryProfile/GetMilitaryInfoData?civilid=" + civilid + "&passportno=" + passportno,
            headers: {
                "Authorization": headerauth,
                "Content-Type": "application/json",
            },
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $.alert({
                    title: _getCookieForLanguage("_informationTitle"),
                    content: _getCookieForLanguage("dataAlreadyExist"),
                    type: 'red'
                });

                if (civilid != '') {
                    $("#civilid").val('');
                    $("#civilid").focus();
                }

                if (passportno != '')
                    $(".passportno").val('');
                $(".passportno").focus();
            },
            error: function (xhr, status, error) {
            }
        });
    }

</script>




