@model KAF.BusinessDataObjects.hr_passportinfoEntity

<style>
        .form-horizontal .form-group {
            margin-right: 10px;
            margin-left: 10px;
        }
    </style>

@using (Ajax.BeginForm("", "", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "", LoadingElementId = "divProgressBar" }, new { @id = "frmHr_PassportInfoDetail", @class = "form-horizontal" }))
{
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    HtmlHelper.ClientValidationEnabled = true;
    @Html.AntiForgeryToken()
    
    <div class="panel panel-primary list-panel" id="list-panel">
        <div class="panel-heading list-panel-heading">
            Passport Information: @KAF.MsgContainer._hr_passportinfo.passportinfoDetails
        </div>
        <div class="panel-body">
            <div class="modal-body">
                <div class="form-horizontal container">
                    <div class="row">
                        @Html.HiddenFor(m => m.passportid)
                        @Html.HiddenFor(m => m.strModelPrimaryKey)
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Military No (KW)", htmlAttributes: new { @class = "labelNormal  " })
                                @Html.EditorFor(model => model.militarynokw, new { htmlAttributes = new { @readonly = "readonly", @class = "militarynokw form-control" } })
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.passportno, htmlAttributes: new { @class = "labelNormal required " })
                                @Html.EditorFor(model => model.passportno, new { htmlAttributes = new { @readonly = "readonly", @class = " form-control" } })
                            </div>
                        </div>
                        
                    </div>
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.passportissuedate, htmlAttributes: new { @class = "labelNormal   " })
                                <div class='input-group date dateonly' id='' style="width: 100 %; ">
                                    @Html.EditorFor(model => model.passportissuedate, new { htmlAttributes = new { @readonly = "readonly", @Value = Model.passportissuedate != null ? Convert.ToDateTime(Model.passportissuedate).ToString("dd-MM-yyyy") : null, @class = "form-control", @type = "text" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.passportexpirydate, htmlAttributes: new { @class = "labelNormal   " })
                                <div class='input-group date dateonly' id='' style="width: 100 %; ">
                                    @Html.EditorFor(model => model.passportexpirydate, new { htmlAttributes = new { @readonly = "readonly", @Value = Model.passportexpirydate != null ? Convert.ToDateTime(Model.passportexpirydate).ToString("dd-MM-yyyy") : null, @class = "form-control", @type = "text" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                   
                    <div class="btn-toolbar">
                        <button type="submit" id="btnModalCloseDetail" class="btn btn-danger btn-md cancel"><i class="fa fa-arrow-circle-left"> </i> @KAF.MsgContainer._Common._btnCancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
//filecontrol addons
 var fileobject = @Html.Raw(Json.Encode(Model.cor_foldercontentsList));


$('.footable').footable({
	 calculateWidthOverride: function () {
		 return { width: $(window).width() };
	 }
});



$(document).ready(function () {
	 var _passportfiledescriptionupld = $('#passportfiledescriptionupld').kaffileUploader({
		 _tableid: 'tbl_passportfiledescription', 
		 _colname: 'passportfiledescription',
		 _tabname: 'Hr_PassportInfo',
		 _fileuploadbuttontext: 'Upload files',
		 _modelid: 'File_upload_for_Passport_Document',
		 _modeltext: 'File upload for Passport Document',
		 _fileinputname: 'inpfilepassportfiledescription',
		 _containeruploadpreview: 'passportfiledescriptionuploadpreview',
		 _containerdeletebuttontext: '',
		 _ismultiple: true,
		 _fileobject: fileobject

		 _passportfiledescriptionupld.loadpreloaddata(fileobject, $("#passportfiledescriptionuploadpreview"), '', 'passportfiledescription');

});

</script>
    



